
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row ">
        <div class="col-md-8">
            <canvas id="line-chart" width="800" height="450"></canvas>
        </div>
        @*<div class="col-md-6">
                <div id="chartContainerCollection" style="height: 200px; width: 500px;">
                </div>
            </div>*@
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="lineChart" height="150" width="200"></canvas>

        </div>
        <div class="col-md-6">
            <canvas id="FGChart" height="97" width="150"></canvas>
        </div>
    </div>

</div>


@*<div class="row " style="margin-top: 10px">
    </div>*@
@*</div>*@



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#cw").addClass("ccc2");
        //initialLoad();
        setInterval('refreshPage()', 300000);
        debugger;
        RMStockGrap();
        ProductStockGrap();
        GetLast30DaysSalesChart();
       // GetTotalSRChart();
    })
    function refreshPage() {
        location.reload();
    }
    var colors = ["#27AE60", "#ffc107", "#8D6E63", "#BA68C8", "#2196F3", "#009688", "#D4E157", "#9E9E9E", "#607D8B", "#CC3333", "#DC7633", "#E91E63", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000"];
    function GetLast30DaysSalesChart() {
        debugger;
        
        var days = '@TempData["days"]';
        var charts = '@TempData["charts"]';
       
        Generate30DaysSalesChartTest(days, charts);
        
    }


    function Generate30DaysSalesChartTest(days, data) {
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < days.split(',').length; i++) {
            labelsArray.push(days.split(',')[i]);
            dataArray.push(data.split(',')[i]);
        }
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: labelsArray,
                datasets: [{
                    data: dataArray,
                    label: "Sales",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'World population per region (in millions)'
                }
            }
        });
    }

    


    function RMStockGrap() {
        debugger;
        //var labels = '<%=TempData["platform_family"] %>';
        var labels = '@TempData["platform_family"]';
        var datas = '@TempData["CurrentStock"]';
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < labels.split(',').length; i++) {
            labelsArray.push(labels.split(',')[i]);
            dataArray.push(datas.split(',')[i]);
        }
        var ctx1 = document.getElementById("lineChart").getContext('2d');
        var lineChart = new Chart(ctx1, {
            type: 'bar',

            data: {
                labels: labelsArray,
                labelFontColor: "red",
                color:'#3EB9DC',
                datasets: [{
                    label: 'Raw Material Current Stock',

                    //backgroundColor: '#3EB9DC',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                        "#A52A2A",
                        "#DC143C",
                        "#FFA500 "
                    ],
                    data: dataArray
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 18
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {
                    yAxes: [{
                        //ticks: {
                            fontColor: "white",
                            fontSize: 18,
                            stepSize: 1,
                            beginAtZero: true
                        //}
                    }],
                    
                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 14,
                            stepSize: 1,
                            beginAtZero: true,
                            stacked: true,
                            autoSkip: false
                        }

                    }], 

                    //yAxes: [{
                    //    //ticks: {
                    //    fontColor: "white",
                    //    fontSize: 14,
                    //    stepSize: 1,
                    //    beginAtZero: true,
                    //        stacked: true,
                    //        autoSkip: false
                    //    //}
                    //}]                    
                },
            }});
    };


    //fgstock
    function ProductStockGrap () {
        debugger;
        //var labels = '<%=TempData["platform_family"] %>';
        var labels = '@TempData["FG_NAME"]';
        var datas = '@TempData["CurrentStockF"]';
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < labels.split(',').length; i++) {
            labelsArray.push(labels.split(',')[i]);
            dataArray.push(datas.split(',')[i]);
        }
        var ctx1 = document.getElementById("FGChart").getContext('2d');
        var FGChart = new Chart(ctx1, {
            type: 'bar',

            data: {
                labels: labelsArray,
                labelFontColor: "red",
                color:'#3EB9DC',
                datasets: [{
                    label: 'FG PRoduct Current Stock',

                    //backgroundColor: '#3EB9DC',
                    backgroundColor: [
                        "#FFA500 ",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                        "#A52A2A",
                        "#DC143C",
                       /* "#FFA500 "*/
                    ],
                    data: dataArray
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 18
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {

                    yAxes: [{
                        //ticks: {
                            fontColor: "white",
                            fontSize: 18,
                            stepSize: 1,
                            beginAtZero: true
                        //}
                    }],

                    //xAxes: [{ stacked: true }],
                    //xAxes: [{ stacked: true }],


                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 14,
                            stepSize: 1,
                            beginAtZero: true,
                            stacked: true
                        }
                    }]
                },
            }});
    };


</script>
