
@{
    ViewBag.Title = "Index";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <canvas id="lineChart" height="150" width="200"></canvas>

        </div>
        <div class="col-md-6">
            <canvas id="FGChart" height="97" width="150"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="line-chart" width="800" height="450"></canvas>


        </div>
        @*<div class="col-md-6">
                <div id="chartContainerCollection" style="height: 200px; width: 500px;">
                </div>
            </div>*@
    </div>


</div>


@*<div class="row " style="margin-top: 10px">
    </div>*@
@*</div>*@



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#cw").addClass("ccc2");
        //initialLoad();
        setInterval('refreshPage()', 300000);
        debugger;
        RMStockGrap();
        ProductStockGrap();
        GetLast30DaysSalesChart();
       // GetLast30DaysSalesChartTest();
       // GetTotalSRChart();
    })
    function refreshPage() {
        location.reload();
    }
    var colors = ["#27AE60", "#ffc107", "#8D6E63", "#BA68C8", "#2196F3", "#009688", "#D4E157", "#9E9E9E", "#607D8B", "#CC3333", "#DC7633", "#E91E63", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000"];
    function GetLast30DaysSalesChart() {
        debugger;
        
        var days = '@TempData["days"]';
        var charts = '@TempData["charts"]';
        //Generate30DaysSalesChart(days, charts);
        Generate30DaysSalesChartTest(days, charts);
        
    }

    function Generate30DaysSalesChart(days, data) {
        debugger;
        var canvas = document.getElementById('last30DaysSalesChart');
        canvas.width = 960;
        canvas.height = 600;

        var myCanvas = canvas.getContext('2d');
        var amount = ["Salesertyui"];
        var month = days;
        var data = data;

        var mydataSets = [];
        mydataSets.length = 0;

        for (var i = 0; i < amount.length; i++) {

            mydataSets.push({
                label: amount[i],
                fill: false,
                borderWidth: 2,
                lineTension: 0,
                spanGaps: true,
                borderColor: colors[i],
                pointRadius: 3,
                pointHoverRadius: 7,
                pointColor: colors[i],
                pointBackgroundColor: colors[i],
                data: data
            })
        }
        console.log('My data set');
        console.log(mydataSets);

        var chartData = {
            labels: month,
            datasets: mydataSets
        };

        console.log(chartData);

        var ChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: '#efefef',
                    },
                    gridLines: {
                        display: false,
                        color: '#efefef',
                        drawBorder: false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        stepSize: 2000,
                        fontColor: '#efefef',

                    },
                    gridLines: {
                        display: true,
                        color: '#efefef',
                        drawBorder: false,
                    }
                }]
            }
        }
        Chart.defaults.global.legend.labels.usePointStyle = true;
        var chart = new Chart(myCanvas, {
            type: 'line',
            data: chartData,
            markerType: "square",
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "#000",
                            fontStyle: "bold",
                            beginAtZero: true,
                            maxTicksLimit: 5, //5
                            //padding: 3 // 20
                        },
                        gridLines: {
                            //drawTicks: false,
                            //display: false,
                        }

                    }],
                    xAxes: [{
                        gridLines: {
                            //zeroLineColor: "transparent"
                        },
                        ticks: {
                            padding: 20, //20
                            fontColor: "rgba(0,0,0,0.5)",
                            fontStyle: "bold"
                        }
                    }]
                }
            }
        });
    }
    function Generate30DaysSalesChartTest(days, data) {
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < days.split(',').length; i++) {
            labelsArray.push(days.split(',')[i]);
            dataArray.push(data.split(',')[i]);
        }
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: labelsArray,
                datasets: [{
                    data: dataArray,
                    label: "Sales",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            //options: {
            //    title: {
            //        display: true,
            //        text: 'World population per region (in millions)'
            //    }
            //}
            options: {
                
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 18
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {

                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 10,
                            beginAtZero: true,
                            stacked: true,
                            //autoSkip: false
                        },
                        gridLines: {
                            //display: false,
                            ////color: '#efefef',
                            //drawBorder: false,
                        }

                    }],

                    yAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 10,
                            stepSize: 2000,
                            beginAtZero: true,
                            stacked: true,
                        },
                        gridLines: {
                            //display: true,
                            //color: '#efefef',
                            //drawBorder: false,
                        }
                    }]
                },

            }
        });
    }

    


    function RMStockGrap() {
        debugger;
        //var labels = '<%=TempData["platform_family"] %>';
        var labels = '@TempData["platform_family"]';
        var datas = '@TempData["CurrentStock"]';
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < labels.split(',').length; i++) {
            labelsArray.push(labels.split(',')[i]);
            dataArray.push(datas.split(',')[i]);
        }
        var ctx1 = document.getElementById("lineChart").getContext('2d');
        var lineChart = new Chart(ctx1, {
            type: 'bar',

            data: {
                labels: labelsArray,
                labelFontColor: "red",
                color:'#3EB9DC',
                datasets: [{
                    label: 'Raw Material Current Stock',

                    //backgroundColor: '#3EB9DC',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                        "#A52A2A",
                        "#DC143C",
                        "#FFA500 "
                    ],
                    data: dataArray
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 14
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {

                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 10,
                            beginAtZero: true,
                            stacked: true,
                            autoSkip: false
                        },
                         gridLines: {
                            //display: false,
                            //color: '#efefef',
                            //drawBorder: false,
                        }

                    }], 

                    yAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 10,
                            stepSize: 2000,
                            beginAtZero: true
                        },
                        gridLines: {
                            //display: true,
                            //color: '#efefef',
                            //drawBorder: false,
                        }
                    }]    
                },

            }});
    };


    //fgstock
    function ProductStockGrap () {
        debugger;
        //var labels = '<%=TempData["platform_family"] %>';
        var labels = '@TempData["FG_NAME"]';
        var datas = '@TempData["CurrentStockF"]';
        var labelsArray = new Array();
        var dataArray = new Array();
        for (var i = 0; i < labels.split(',').length; i++) {
            labelsArray.push(labels.split(',')[i]);
            dataArray.push(datas.split(',')[i]);
        }
        var ctx1 = document.getElementById("FGChart").getContext('2d');
        var FGChart = new Chart(ctx1, {
            type: 'bar',

            data: {
                labels: labelsArray,
                labelFontColor: "red",
                color:'#3EB9DC',
                datasets: [{
                    label: 'FG PRoduct Current Stock',

                    //backgroundColor: '#3EB9DC',
                    backgroundColor: [
                        "#FFA500 ",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                        "#A52A2A",
                        "#DC143C",
                       /* "#FFA500 "*/
                    ],
                    data: dataArray
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                        fontSize: 14
                    }
                },
                //tooltips: { mode: 'index', intersect: false },
                responsive: true,
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 10,
                            beginAtZero: true,
                            stacked: true
                        },
                        gridLines: {
                            //display: false,
                            //color: '#efefef',
                            //drawBorder: false,
                        }
                    }],

                    yAxes: [{
                        ticks: {
                            fontColor: "white",
                            fontSize: 10,
                            stepSize: 1,
                            beginAtZero: true
                        },
                        gridLines: {
                            //display: true,
                            //color: '#efefef',
                            //drawBorder: false,
                        }
                    }],

                   
                },
            }});
    };


</script>
