@model IEnumerable<ERPBO.Agriculture.ViewModels.AgroProductSalesDetailsViewModel>

@{
    ViewBag.Title = "_GetAgroSalesProductionDetails";
    int sl = 0;
    var info = (ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel)ViewBag.Info;
}

<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    @if (info != null)
    {
        <tr>
            <td style="width:13%">Invoice No</td>
            <td style="width:15%"><b>@info.InvoiceNo</b></td>
            <td style="width:18%">Invoice Date</td>
            <td style="width:20%"><b>@info.InvoiceDate</b></td>
            <td style="width:13%">StockiestName</td>
            <td style="width:20%"><b>@info.StockiestName</b></td>
            <td style="width:20%" class="hide"><b>@info.StockiestId</b></td>
        </tr>
    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblReturnItems">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>ProductName</th>
            <th>MeasurementSize</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount</th>
            @*<th>Total</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center">@sl</td>
                <td class="text-center">@item.FinishGoodProductName</td>
                <td class="text-center">@item.MeasurementSize</td>
                <td class="text-center">@item.Quanity</td>
                <td class="text-center text-bold">@item.Price</td>
                <td class="text-center">@item.Discount</td>
                @*<td class="hide">@item</td>*@

            </tr>
        }
    </tbody>
</table>


