@model IEnumerable<ERPBO.Agriculture.ViewModels.AgroProductSalesDetailsViewModel>
@{
    ViewBag.Title = "_GetAgroSalesProductEdit";
    var info = (ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel)ViewBag.Info;
    int sl = 0;
}
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    @if (info != null)
    {
        <tr style="width: 100%; background-color: #ede7e7 ">
            <td style="width:10%">Date</td>
            <td style="width:17%"><b>@info.InvoiceDate.Value.ToShortDateString()</b></td>

            <td style="width:10%">Invoice No</td>
            <td style="width:25%"><b>@info.InvoiceNo</b></td>

            <td style="width:13%">ChallanNo No</td>
            <td style="width:25%"><b>@info.ChallanNo</b></td>
            <td class="hide"><b>@info.StockiestId</b></td>
        </tr>


    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" style="margin-top:-15px;">
    @if (info != null)
    {

        <tr style="width: 100%; background-color: #c9e1eb ">
            <td style="width:15%">Driver Name</td>
            <td style="width:20%">
                <input type="text" name="DiverName" value="@info.DriverName" />
                @*<b>@info.DriverName</b>*@
            </td>

            <td style="width:15%">Vehicle Number</td>
            <td style="width:20%">
                <input type="text" name="DiverName" value="@info.VehicleNumber" />
                @*<b>@info.VehicleNumber</b>*@
            </td>

            <td style="width:15%">Delivery Place</td>
            <td style="width:20%">
                <input type="text" name="DiverName" value="@info.DeliveryPlace" />
                @*<b>@info.DeliveryPlace</b>*@
            </td>

            <td class="hide"><b>@info.StockiestId</b></td>
        </tr>

    }
</table>

<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" style="margin-top:-15px;">
    @if (info != null)
    {

        <tr style="width: 100%; background-color: #edd0f7 ">
            <td style="width:7%">Stockiest</td>
            <td style="width:10%">
                

                    @Html.DropDownList("ddlStockiestName", (IEnumerable<SelectListItem>)ViewBag.ddlStockiestName, "--Select Stockiest--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
               
            </td>

            <td style="width:7%">Territory</td>
            <td style="width:10%"><b>@info.TerritoryName</b></td>

            <td style="width:6%">Area</td>
            <td style="width:10%"><b>@info.AreaName</b></td>

            <td style="width:7%">Region</td>
            <td style="width:10%"><b>@info.RegionName</b></td>

            <td style="width:7%">Division</td>
            <td style="width:10%"><b>@info.DivisionName</b></td>

            <td style="width:6%">Zone</td>
            <td style="width:10%"><b>@info.ZoneName</b></td>

        </tr>
    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm " id="tblAgroSalesProductEdit">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>ProductName</th>
            <th>MeasurementSize</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount%</th>
            <th>Total</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;

            if (item.RT == 1)
            {
        <tr style="background-color: #bfbaba;">
            <td class="text-center">@sl</td>
            <td class="text-center">@item.FinishGoodProductName</td>
            <td class="text-center">@item.MeasurementSize</td>
            @*<td class="text-center">@item.Quanity</td>*@
            <td class="text-center" style="width:15%">
                <input type="number" class="Quantity form-control form-control-sm " value="@item.BoxQuanity" />

            </td>
            <td class="text-center text-bold">@item.Price</td>
            @*<td class="text-center">@item.Discount</td>*@
            <td class="text-center" style="width:15%">
                <input type="number" class="Discount form-control form-control-sm " value="@item.Discount" />

            </td>
            <td class="text-center">@item.ProductTotal</td>
            <td class="text-center">
                <a href="#" class="btn btn-sm btn-outline-danger data-item-delete-ProductionSalesInfoId" title="Delete" data-item-delete-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                    <i class="fas fa-trash"></i>
                </a>
            </td>


        </tr>

            }
            else
            {
                <tr>
                    <td class="text-center">@sl</td>
                    <td class="text-center">@item.FinishGoodProductName</td>
                    <td class="text-center">@item.MeasurementSize</td>
                    <td class="text-center">@item.Quanity</td>
                    <td class="text-center text-bold">@item.Price</td>
                    <td class="text-center">@item.Discount</td>
                    <td class="text-center">@item.ProductTotal</td>
                   
                </tr>

            }

        }
    </tbody>
</table>



@section scripts{
    
<script type="text/javascript">

    var ddlStockiestName = $("#ddlStockiestName");

    $(document).ready(function () {

        
        $('.select2').select2();

        
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

    })

    </script>
    
    }
