
@model IEnumerable<ERPBO.Agriculture.ViewModels.RawMaterialStockInfoViewModel>

@{
    ViewBag.Title = "_GetRawMaterialCurrentStockList";
   
    var sl = 0;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

<table class="table table-bordered table-sm table-striped table-responsive-lg text-sm" id="tblRawMaterialStockList">
    <thead class="btn-dark">
        <tr class="text-center text-bold">
            <th style="vertical-align:middle">#SL</th>
            <th style="vertical-align:middle" class="hide"></th>
            <th style="vertical-align:middle">StockDate</th>
            <th style="vertical-align:middle">Raw Material Name</th>
            <th style="vertical-align:middle">Unit</th>
            <th style="vertical-align:middle">StockIn</th>
            <th style="vertical-align:middle">StockOut</th>
            <th style="vertical-align:middle">Current Stock</th>

            @*<th style="vertical-align:middle">Unit</th>*@
            @*<th style="vertical-align:middle">Action</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center text-bold">@sl</td>
                <td class="hide">@item.RawMaterialStockId</td>
                <td class="text-center">@item.StockDate.Value.Date.ToShortDateString()</td>
                <td class="text-center">@item.RawMaterialName</td>
                <td class="text-center">@item.Unit</td>
                <td class="text-center">@item.StockIn</td>
                <td class="text-center">@item.StockOut</td>
                <td class="text-center">@item.CurrentStock</td>
                


            
            </tr>
        }

    </tbody>
</table>

