@model IEnumerable<ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel>

@{
    ViewBag.Title = "_GetAgroSalesProductList";
    int sl = 0;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}


<table class="table table-bordered table-sm table-striped table-responsive-lg text-sm" id="tblAgroSalesProductList">
    <thead class="btn-dark">
        <tr class="text-center text-bold">
            <th style="vertical-align:middle">#SL</th>
            <th style="vertical-align:middle" class="hide"></th>
            <th style="vertical-align:middle" class="hide"></th>
            <th style="vertical-align:middle">Invoice No</th>
            <th style="vertical-align:middle">Invoice Date</th>
            <th style="vertical-align:middle">StokiestName</th>
            <th style="vertical-align:middle">Total Amount</th>
            <th style="vertical-align:middle">PaidAmount</th>
            <th style="vertical-align:middle">DueAmount</th>
            <th style="vertical-align:middle">EntryUser</th>
            @*<th style="vertical-align:middle" class="hide"></th>*@
            <th style="vertical-align:middle">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
        <tr>
            <td class="text-center text-bold">@sl</td>
            <td class="hide">@item.ProductSalesInfoId</td>
            <td class="hide">@item.StockiestId</td>
            <td class="text-center">@item.InvoiceNo</td>
            <td class="text-center">@item.InvoiceDate.Value.ToString("yyyy-MMM-dd")</td>
            <td class="text-center">@item.StockiestName</td>
            <td class="text-center">@item.TotalAmount.ToString("N2")</td>
            <td class="text-center">@item.PaidAmount.ToString("N2")</td>
            <td class="text-center">@item.DueAmount.ToString("N2")</td>
            <td class="text-center">@User.UserName</td>
            @*<td class="hide">@item.UnitId</td>*@
            @*<td>@item.EntryDate.Value.ToString("dd-MMM-yyyy hh:mm tt")</td>*@

            <td class="text-center">

                @if (item.PaidAmount == 0 )
                {
                    <a href="#" class="dasedit-btn data-item-edit-ProductionSalesInfoId" title="View Edit" data-item-edit-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                        <i class="fas fa-edit"></i>
                    </a>
                }



                <a href="#" class="emndetails-btn data-item-detail-ProductionSalesInfoId" title="View Detail" data-item-detail-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                    <i class="fas fa-eye"></i>
                </a>





                <a href="@Url.Action("AgroProductSalesReports", "AgroConfiguration", new { @ProductSalesInfoId = item.ProductSalesInfoId })" target="_blank" class="emninvoice-btn" title="Download Invoice"><i class="fas fa-file-invoice"></i></a>

                <a href="@Url.Action("AgroProductSalesChallanReport", "AgroConfiguration", new { @ProductSalesInfoId = item.ProductSalesInfoId })" target="_blank" class="emnchalan-btn" title="Download Challan">
                    <i class="fa-solid fa-receipt"></i>
                </a>

                @if (item.PaidAmount == 0 || item.DueAmount == 0)
                {
                    <a href="@Url.Action("AgroProductSalesInvoiceDropReports", "AgroConfiguration", new { @ProductSalesInfoId = item.ProductSalesInfoId })" target="_blank" data-item-download-ProductionSalesInfoId="@item.ProductSalesInfoId" class="emnDrop-btn" title="Download Drop Invoice">
                        <i class="fas fa-tint"></i>
                    </a>
                }


            </td>
            <td class="hide">@item.DriverName</td>
            <td class="hide">@item.StockiestId</td>
            <td class="hide">@item.InvoiceNo</td>
            <td class="hide">@item.InvoiceDate.Value.ToString("dd-MMM-yyyy")</td>
            <td class="hide">@item.ChallanNo</td>
            <td class="hide">@item.DeliveryPlace</td>
            <td class="hide">@item.VehicleType</td>
        </tr>
        }
        @if (Model.Count() == 0)
        {
            <tr class="text-center text-bold">
                <td colspan="11">No data found in the table</td>
            </tr>
        }
    </tbody>
</table>


