@model IEnumerable<ERPBO.Agriculture.ViewModels.AreaSetupViewModel>

@{
    ViewBag.Title = "List of Area";
    var SL = 0;
}

<div class="row">
    <div class="col-md-12 p-0">
        <table class="table table-bordered table-striped table-hover table-sm text-sm" id="tblDepotData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle" class="hide"></th>
                    <th style="vertical-align:middle" class="hide"></th>
                    @*<th style="vertical-align:middle" class="hide"></th>
                    <th style="vertical-align:middle">Organization Name</th>*@
                    <th style="vertical-align:middle">Region Name</th>
                    <th style="vertical-align:middle">Area Name</th>
                    @*<th style="vertical-align:middle">EntryUser</th>*@
                    <th style="vertical-align:middle">Status</th>
                    <th style="vertical-align:middle">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    SL = SL + 1;
                <tr>

                    <td class="text-center text-bold">@SL</td>
                    <td class="hide">@item.AreaId</td>
                    @*<td class="hide">@item.OrganizationId</td>*@
                    <td class="hide">@item.RegionId</td>
                    @*<td class="text-center">@item.OrgName</td>*@
                    <td class="text-center">@item.RegionName</td>
                    <td class="text-center">@item.AreaName</td>
                    @*<td class="text-center">@item.UserName</td>*@
                    <td class="text-center">@item.Status</td>
                    <td class="text-center">
                        @*@if (privilege.Edit)
            {*@
                        <a href="#" class="dasedit-btn data-edit-item-Area" style="line-height:1" data-edit-item-Depot="@item.AreaId"><i class="fa fa-pen"></i></a>
                        @*}*@
                    </td>
                </tr>
                }

                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="5">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>