@model IEnumerable<ERPBO.Agriculture.ViewModels.DivisionInfoViewModel>

@{
    ViewBag.Title = "_GetDivisionPartialView";
    var SL = 0;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}
<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-striped table-hover table-sm text-sm" id="tblDivisionData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle" class="hide"></th>
                    <th style="vertical-align:middle" class="hide"></th>
                    <th style="vertical-align:middle">Zone Name</th>
                    <th style="vertical-align:middle">Division Name</th>
                    <th style="vertical-align:middle">Status</th>
                    <th style="vertical-align:middle">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    SL = SL + 1;
                <tr>

                    <td class="text-center text-bold">@SL</td>
                    <td class="hide">@item.DivisionId</td>
                    <td class="hide">@item.ZoneId</td>
                    <td class="text-center">@item.ZoneName</td>
                    <td class="text-center">@item.DivisionName</td>
                    <td class="text-center">@item.Status</td>
                    <td class="text-center hide">@item.ZoneId</td>

                    <td class="text-center">

                        <a href="#" class="btn btn-warning btn-sm data-edit-item-DivisionId" style="line-height:1" data-edit-item-DivisionId="@item.DivisionId"><i class="fa fa-pen"></i>Edit</a>
                    </td>
                </tr>
                }

                
            </tbody>
        </table>
    </div>

</div>
