
@model IEnumerable<ERPBO.Agriculture.ViewModels.FinishGoodRecipeDetailsViewModel>
@{
    ViewBag.Title = "_GetAgroSalesSalesReturnAdjust";
    int sl = 0;

}


<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblReturnItems">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>RawMaterial Name</th>
            <th>Used QTY/PC</th>
            <th>Unit Name</th>
            <th>RM Cost/PC(TK)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center">@sl</td>
                <td class="text-center">@item.RawMaterialName</td>
                <td class="text-center">@item.FGRRawMaterQty</td>

                <td class="text-center">@item.UnitName</td>
                <td class="text-center">@item.RMPriceTotal</td>


            </tr>
        }
    </tbody>
</table>