@model IEnumerable<ERPBO.Agriculture.ViewModels.MeasurementSetupViewModel>
    @{ 
        int sl = 0;
    }
<div class="col-md-12">
    <table class="table table-responsive-lg table-striped">
        <thead>
            <tr class="btn-dark">
                <th>SL</th>
                <th>MeasureMent Name</th>
                <th>MeasureMent Item</th>
                <th>UnitName</th>
                <th>Status</th>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                sl++;
            <tr>
                <td>@sl</td>
                <td class="hide">@item.MeasurementId</td>
                <td>@item.MeasurementName</td>
                <td>@item.MasterCarton X @item.InnerBox X @item.PackSize </td>
                <td class="hide">@item.MasterCarton</td>
                <td class="hide">@item.InnerBox</td>
                <td class="hide">@item.PackSize</td>
                <td>@item.UnitName</td>
                <td class="hide">@item.UnitId</td>
                <td>@item.Status</td>
                <td class="hide">@item.UnitKG</td>
                <td>
                    <a href="#" class="btn btn-warning btn-sm data-edit-item-measurement" data-edit-item-measurement="@item.MeasurementId"><i class="fa fa-pen"></i>Edit</a>
                </td>

            </tr>

            }


        </tbody>

    </table>

</div>
