@model IEnumerable<ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel>

@{
    ViewBag.Title = "_GetAgroSalesProductList";
    int sl = 0;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}

<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table  table-sm table-striped table-responsive-lg text-sm" id="tblAgroSalesProductList">
            <thead class="btn-dark">
                <tr class="text-center text-bold">
                    <th style="vertical-align:middle">#SL</th>
                    <th style="vertical-align:middle" class="hide"></th>
                    <th style="vertical-align:middle">Invoice No</th>
                    <th style="vertical-align:middle">Invoice Date</th>
                    <th style="vertical-align:middle">Total Amount</th>
                    <th style="vertical-align:middle">PaidAmount</th>
                    <th style="vertical-align:middle">DueAmount</th>
                    <th style="vertical-align:middle">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    if ((DateTime.Now.Date - @item.InvoiceDate.Value.Date).Days < 4)
                    {
                        <tr style="background-color:#3deb67">
                            <td class="text-center text-bold">@sl</td>
                            <td class="hide">@item.ProductSalesInfoId</td>
                            <td class="text-center">@item.InvoiceNo</td>

                            <td class="text-center">@item.InvoiceDate.Value.ToString("dd-MMM-yyyy")</td>
                            <td class="text-center">@item.TotalAmount</td>
                            <td class="text-center">@item.PaidAmount</td>
                            <td class="text-center">@item.DueAmount</td>

                            <td class="text-center">

                                <a href="#" class="btn btn-sm btn-outline-secondary data-item-detail-ProductionSalesInfoId" title="Payment Detail" data-item-detail-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                                    <i class="fas fa-eye"></i>
                                </a>
                                @if (item.DueAmount > 0)
                                {
                                    <a href="#" class="btn btn-sm btn-outline-primary data-item-Payment-ProductionSalesInfoId" title="Payment" data-item-Payment-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                                        <i class="fas fa-money-bill"></i>
                                    </a>

                                }




                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td class="text-center text-bold">@sl</td>
                            <td class="hide">@item.ProductSalesInfoId</td>
                            <td class="text-center">@item.InvoiceNo</td>

                            <td class="text-center">@item.InvoiceDate.Value.ToString("dd-MMM-yyyy")</td>
                            <td class="text-center">@item.TotalAmount</td>
                            <td class="text-center">@item.PaidAmount</td>
                            <td class="text-center">@item.DueAmount</td>

                            <td class="text-center">

                                <a href="#" class="btn btn-sm btn-outline-secondary data-item-detail-ProductionSalesInfoId" title="Payment Detail" data-item-detail-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                                    <i class="fas fa-eye"></i>
                                </a>
                                @if (item.DueAmount > 0)
                                {
                                    <a href="#" class="btn btn-sm btn-outline-primary data-item-Payment-ProductionSalesInfoId" title="Payment" data-item-Payment-ProductionSalesInfoId="@item.ProductSalesInfoId" style="line-height:1">
                                        <i class="fas fa-money-bill"></i>
                                    </a>

                                }



                            </td>
                        </tr>


                    }

                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center text-bold">
                        <td colspan="11">No data found in the table</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>