@model IEnumerable<ERPBO.Agriculture.ViewModels.RawMaterialViewModel>
    @{ 
        int sl=0;
    }
<div class="col-md-12 p-0">
    <table class="table table-bordered table-striped table-hover table-sm text-sm">
        <thead class="btn-dark">
            <tr class="text-center">
                <th class="hide">id</th>
                <th>SL</th>
                <th>Raw Material</th>
                <th>Category Name</th>
                <th>Unit</th>
                <th>Status</th>
                <th>Action</th>
                <th class="hide">UnitId</th>
                <th class="hide">CateId</th>


            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var raw in Model)
                {
                    sl++;
                    
            <tr>

                <td class="hide">@raw.RawMaterialId</td>
                <td class="text-center text-bold">@sl</td>

                <td class="text-center">@raw.RawMaterialName</td>
                <td class="text-center">@raw.RMCategorieName</td>
                <td class="text-center">@raw.UnitName</td>
                <td class="text-center">@raw.Status</td>

                <td class="text-center hide">@raw.UnitId</td>
                <td class="text-center hide">@raw.RMCategorieId</td>
                <td class="text-center">
                    <a href="#" class="dasedit-btn btn-sm data-edit-item-rawMaterialId" style="line-height:1" data-edit-item-rawMaterialId="@raw.RawMaterialId"><i class="fa fa-pen"></i></a>
                    
                </td>
            </tr>

                }


            }
            else
            {
                <tr class="text-center text-bold">

                    <td colspan="12">No Data Found </td>

                </tr>


            }


        </tbody>

    </table>

</div>
