@model IEnumerable<ERPBO.Agriculture.ViewModels.RawMaterialRequisitionDetailsViewModel>

@{

    int sl = 0;
}
<div class="col-md-12">
    <table class="table table-bordered table-striped table-hover table-sm text-sm" id="tblRequisitonDetails">
        <thead>
            <tr class="text-sm btn-dark">
                <th style="vertical-align:middle">#SL</th>
                <th style="vertical-align:middle">Raw Material Name</th>
                <th style="vertical-align:middle">Unit</th>
                <th style="vertical-align:middle">Requisition Quantity</th>
                <th style="vertical-align:middle">Issue Quantity</th>
                <th style="vertical-align:middle">Status</th>
                <th style="vertical-align:middle">Remarks</th>
                @*<th>Entry Date</th>*@


            </tr>

        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    sl++;
                    <tr>
                        <td>@sl</td>
                        <td>@item.RawMaterialName</td>
                        <td>@item.UnitName</td>
                        <td>@item.RequisitionQuantity</td>
                        <td>@item.IssueQuantity</td>

                        <td>@item.Status</td>
                        <td>@item.Remarks</td>
                        <td class="hide">@item.UnitID</td>
                        <td class="hide">@item.RawMaterialRequisitionInfoId</td>
                        <td class="hide">@item.RawMaterialRequisitionDetailsId</td>
                        <td class="hide">@item.RawMaterialId</td>
                        @*<td>@item.EntryDate</td>*@


                    </tr>

                }


            }
            else
            {
                <tr>
                    <td colspan="7"></td>

                </tr>

            }


        </tbody>

    </table>

</div>


