@model IEnumerable<ERPBO.Agriculture.ViewModels.FinishGoodRecipeDetailsViewModel>

@{
    ViewBag.Title = "_GetFinishGoodRecipeEdit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
    var info = (ERPBO.Agriculture.ViewModels.FinishGoodRecipeInfoViewModel)ViewBag.Info;
}

<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    @if (info != null)
    {
    <tr>
        <td class="hide">finishGoodProductId</td>
        <td class="hide" data-val-finishGoodProductId="@info.FinishGoodProductId" id="finishGoodProductId">@info.FinishGoodProductId</td>
        <td class="hide" id="finishGoodRecipeInfoId" data-val-finishGoodRecipeInfoId="@info.FGRId"></td>

        <td style="width:13%">Product Name</td>

        @*<td style="width:15%"><input type="text" placeholder="Qty" name="quantity" id="txtProductQty" class="form-control form-control-sm" dataval="@info.FinishGoodProductName" /> </td>*@
        <td style="width:15%"><b>@info.FinishGoodProductName</b></td>
        <td style="width:13%">Product Qty</td>
        <td style="width:5%"><b>@info.FGRQty</b></td>
        <td style="width:10%">Product Unit</td>
        <td style="width:6%"><b>@info.UnitName</b></td>
        <td style="width:6%" class="hide"><b>@info.UnitId</b></td>
        <td style="width:10%">Receipe Status</td>
        <td style="width:20%">
            @info.Status

                <select class="form-control form-control-sm" id="ddlStatus">
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
            </td>
    </tr>
    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblFinishGoodReceip">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>RawMaterial Name</th>
            <th>RawMaterial Qty</th>
            <th>RawMaterial Unit</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="hide">@item.FGRDetailsId</td>
            <td class="text-center">@item.RawMaterialName</td>

            <td class="form-control form-control text-center text-bold" id="txtFGRRawMaterQty" contenteditable='true'>@item.FGRRawMaterQty</td>
            <td class="text-center">@item.UnitName</td>
            <td class="hide">@item.UnitId</td>

        </tr>
        }
    </tbody>
</table>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-sm btn-flat btn-danger">Cancel</button>
    <button type="button" id="btnSubmit" class="btn btn-sm btn-flat btn-success">Update</button>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        //Initialize Select2 Elements
        $('.select2').select2();

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
    })

    var ddlStatus = $("#ddlStatus");
    $("#btnSubmit").click(function (e) {
            debugger
        e.preventDefault();
        var finishGoodRecipeInfoId = $("#finishGoodRecipeInfoId").attr("data-val-finishGoodRecipeInfoId");

        //var ddlStatus = $("#ddlStatus").attr("data-val-ddlStatus");
    
        //console.log("finishGoodProductId :" + JSON.stringify(finishGoodProductId));
        
            if (true === true) {

                bootbox.confirm("Are you sure you want to Update this Recipe", function (result) {
                    if (result) {
                        debugger;
                        console.log(ddlStatus.val());
                        //disable("#btnSubmit");
                        //getTargetItemAndItemTypeAndWarehouse();
                        var info = { FGRId: TryParseInt(finishGoodRecipeInfoId, 0), Status: ddlStatus.val()};

                        var details = [];
                       // details.length = 0;

                        $.each($("#tblFinishGoodReceip tbody tr"), function (index, item) {
                            var tds = $(this).children('td');
                            details.push({
                                FGRDetailsId: tds.eq(0).html(),
                                FGRRawMaterQty: tds.eq(2).html(),
                            });
                        })

                        console.log('Info');
                        console.log(info);
                        console.log('Detail');
                        console.log(details);
                        var data = JSON.stringify({ info: info, details: details });
                        alert(data);   
                        //return;
                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveFinishGoodRecipe', data, getToken())).then(function (res, status) {
                            if (res === true) {
                                $('.toastrDefaultSuccess').trigger('click');
                                 setTimeout(function () {
                                    redirectPage('@Url.Action("GetFinishGoodRecipeList")');
                                }, 1000);
                                //resetUI();
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                        })
                    }
                })
            }
    })

    function redirectPage(page) {
        window.location.replace(page);
    }
</script>

