@model IEnumerable<ERPBO.Agriculture.ViewModels.FinishGoodRecipeDetailsViewModel>

@{
    ViewBag.Title = "_GetFinishGoodRecipeDetail";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
    var info = (ERPBO.Agriculture.ViewModels.FinishGoodRecipeInfoViewModel)ViewBag.Info;
}

<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    @if (info != null)
    {
        <tr>
            <td style="width:13%">Product Name</td>
            <td style="width:15%"><b>@info.FinishGoodProductName</b></td>
            <td style="width:18%">Product Qty</td>
            <td style="width:20%"><b>@info.FGRQty</b></td>
            <td style="width:13%">Product Unit</td>
            <td style="width:20%"><b>@info.UnitName</b></td>
            <td style="width:20%" class="hide"><b>@info.UnitId</b></td>
        </tr>
    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblReturnItems">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>Raw Material Name</th>
            <th>Raw Material Qty</th>
            <th>Raw Material Unit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center">@sl</td>
                <td class="text-center">@item.RawMaterialName</td>
                <td class="text-center text-bold">@item.FGRRawMaterQty</td>
                <td class="text-center">@item.UnitName</td>
                <td class="hide">@item.UnitId</td>
                
            </tr>
        }
    </tbody>
</table>

