@model IEnumerable<ERPBO.Agriculture.ViewModels.AgroProductSalesDetailsViewModel>

@{
    ViewBag.Title = "_GetAgroSalesProductionDetails";
    int sl = 0;
    var info = (ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel)ViewBag.Info;
}



<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    @if (info != null)
    {
        <tr style="width: 100%; background-color: #FFFFE0 ">
            <td style="width:10%">Date</td>
            <td style="width:17%"><b>@info.InvoiceDate.Value.ToString("yyyy-MMM-dd")</b></td>

            <td style="width:10%">Invoice No</td>
            <td style="width:25%"><b>@info.InvoiceNo</b></td>

            <td style="width:13%">ChallanNo No</td>
            <td style="width:25%"><b>@info.ChallanNo</b></td>
            <td class="hide"><b>@info.StockiestId</b></td>
        </tr>


    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" style="margin-top:-15px;">
    @if (info != null)
    {

        <tr style="width: 100%; background-color: #FFFFE0 ">
            <td style="width:15%">Driver Name</td>
            <td style="width:20%"><b>@info.DriverName</b></td>

            <td style="width:15%">Vehicle Number</td>
            <td style="width:15%"><b>@info.VehicleNumber</b></td>

            <td style="width:15%">Delivery Place</td>
            <td style="width:15%"><b>@info.DeliveryPlace</b></td>

            <td class="hide"><b>@info.StockiestId</b></td>
        </tr>

    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" style="margin-top:-15px;">
    @if (info != null)
    {

        <tr style="width: 100%; background-color: #B0C4DE ">
            <td style="width:7%">Stockiest</td>
            <td style="width:10%"><b>@info.StockiestName</b></td>

            <td style="width:7%">Territory</td>
            <td style="width:10%"><b>@info.TerritoryName</b></td>

            <td style="width:6%">Area</td>
            <td style="width:10%"><b>@info.AreaName</b></td>

            <td style="width:7%">Region</td>
            <td style="width:10%"><b>@info.RegionName</b></td>

            <td style="width:7%">Division</td>
            <td style="width:10%"><b>@info.DivisionName</b></td>

            <td style="width:6%">Zone</td>
            <td style="width:10%"><b>@info.ZoneName</b></td>

        </tr>
    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm " id="tblReturnItems">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>ProductName</th>
            <th>MeasurementSize</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount%</th>
            <th>Total</th>
            @*<th>Total</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;

            if (item.RT == 1)
            {
                <tr style="background-color: #008B8B;">
                    <td class="text-center">@sl</td>
                    <td class="text-center">@item.FinishGoodProductName</td>
                    <td class="text-center">@item.MeasurementSize</td>
                    <td class="text-center">@item.Quanity</td>
                    <td class="text-center text-bold">@item.Price</td>
                    <td class="text-center">@item.Discount</td>
                    <td class="text-center">@item.ProductTotal</td>
                    @*<td class="hide">@item</td>*@

                </tr>

            }
            else
            {
                <tr >
                    <td class="text-center">@sl</td>
                    <td class="text-center">@item.FinishGoodProductName</td>
                    <td class="text-center">@item.MeasurementSize</td>
                    <td class="text-center">@item.Quanity</td>
                    <td class="text-center text-bold">@item.Price</td>
                    <td class="text-center">@item.Discount</td>
                    <td class="text-center">@item.ProductTotal</td>
                    @*<td class="hide">@item</td>*@

                </tr>

            }

        }
    </tbody>
</table>


