
@model IEnumerable<ERPBO.Agriculture.ViewModels.ProductionPerproductCostViewModel>

@{
    ViewBag.Title = "_GetProductionPriceList";
    var sl = 0;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}
<table class="table table-bordered table-sm table-striped table-hover table-responsive-lg text-sm" id="tblZoneList">
    <thead class="btn-dark">
        <tr class="text-center text-bold">
            <th style="vertical-align:middle">#SL</th>
            <th style="vertical-align:middle">FG Product Name</th>
            <th style="vertical-align:middle">QTY</th>
            <th style="vertical-align:middle">RM Cost</th>
            <th style="vertical-align:middle">Other Cost</th>
            <th style="vertical-align:middle">Total Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center text-bold">@sl</td>

                <td class="text-center">@item.FinishGoodProductName</td>
                <td class="text-center">@item.QtyKG</td>
                <td class="text-center">@item.PerProductRMtotalCost</td>
                <td class="text-center">@item.PerProductOtherCost</td>
                <td class="text-center">@item.PerProductMainCost</td>

            </tr>
        }

    </tbody>
</table>
