
@model IEnumerable<ERPBO.Agriculture.ViewModels.MonyReceptDetails>

@{
    ViewBag.Title = "_GetMoneyReceiptListDetails";
    int sl = 0;

}
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm " id="">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>Invoice No</th>
            <th>Paid Amount</th>
            <th class="hide">Commision(%)</th>
            <th>Commision Amount</th>
        
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;


            <tr>
                <td class="text-center">@sl</td>
                <td class="text-center">@item.InvoiceNo</td>
                @*<td class="text-center">@item.InvoiceDate.Value.ToString("dd-MMM-yyyy")</td>*@
                <td class="text-center">@item.PaymentAmount</td>
                <td class="hide">@item.CommisionPercent</td>
                <td class="text-center">@item.CommisionAmount</td>
                


            </tr>





        }
    </tbody>
</table>




