@model IEnumerable<ERPBO.Agriculture.ViewModels.RawMaterialRequisitionDetailsViewModel>

@{ 
    string badge = string.Empty;
    int sl = 0;
}
<div class="col-md-12">
<table class="table table-bordered table-striped table-hover table-sm text-sm">
    <thead>
        <tr class="text-sm btn-dark">
            <th style="vertical-align:middle">#SL</th>
            <th style="vertical-align:middle">Raw Material Name</th>
            <th style="vertical-align:middle">Unit</th>
            <th style="vertical-align:middle">Requisition Quantity</th>
            <th style="vertical-align:middle">Issue Quantity</th>
            <th style="vertical-align:middle">Status</th>
            <th style="vertical-align:middle">Remarks</th>
            @*<th>Entry Date</th>*@
   

        </tr>

    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                badge = item.Status == "Pending" ? "badge bg-warning" : (item.Status == "Send" ? "badge bg-primary" : item.Status == "Received" ? "badge bg-success" : (item.Status == "Reject" ? "badge bg-secondary" : "badge bg-danger"));

                sl++;
        <tr>
            <td class="text-center">@sl</td>
            <td class="text-center">@item.RawMaterialName</td>
            <td class="text-center">@item.UnitName</td>
            <td class="text-center">@item.RequisitionQuantity</td>
            <td class="text-center">@item.IssueQuantity</td>
            <td class="text-center" data-val="@item.Status">
                <span class="@badge">@item.Status</span>
            </td>
            <td class="text-center">@item.Remarks</td>
            @*<td>@item.EntryDate</td>*@


        </tr>

            }


        }
        else
        {
            <tr>
                <td colspan="7"></td>

            </tr>

        }


    </tbody>

</table>

</div>
