@model IEnumerable<ERPBO.Agriculture.ViewModels.AgroProductSalesDetailsViewModel>
@{
    ViewBag.Title = "_GetAgroSalesProductEdit";
    //var info = (ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel)ViewBag.Info;
    int sl = 0;
}


<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm " id="tblAgroSalesProductEdit">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>ProductName</th>
            <th>MeasurementSize</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount%</th>
            <th class="hide">Total</th>
            <th>Remove(yes/no)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;


        <tr>
            <td class="text-center">@sl</td>
            <td class="text-center">@item.FinishGoodProductName</td>
            <td class="text-center">@item.MeasurementSize</td>

            <td class="text-center" style="width:15%">
                <input type="number" class="boxQuantity form-control form-control-sm " value="@item.BoxQuanity" />
                <span class="error hide">Quantity must be less then or equal current Stock</span>
            </td>
            <td class="text-center text-bold">@item.Price</td>
            @*<td class="text-center">@item.Discount</td>*@
            <td class="text-center" style="width:15%">
                <input type="number" class="discountTotal form-control form-control-sm " value="@item.Discount" />

            </td>
            <td class="hide">@item.ProductTotal</td>
            <td class="text-center"><input type="checkbox"></td>
            <td class="hide">@item.MQTY</td>
            <td class="hide">@item.CurrentStock</td>
            <td class="hide">@item.ProductSalesDetailsId</td>
            <td class="hide">@item.TotalQty</td>
            

        </tr>




        }
    </tbody>
</table>




    
<script type="text/javascript">

    var boxQuantity = $(".boxQuantity");
    var discountTotal = $(".discountTotal");
    var currentBoxQty = $(".currentBoxQty");


    boxQuantity.on('change', function () {
       
        debugger;
        var currentBoxQty = $(this).val();
         
        var currentMQty = $(this).parent().parent().find("td:eq(8)").text();

        var mstockqty = $(this).parent().parent().find("td:eq(9)").text();

        var TotalQty = currentBoxQty * currentMQty;
        console.log(TotalQty);

        if (Number(TotalQty) <= Number(mstockqty)) {


            $(this).parent().children("span").addClass("hide");
        }
        else {

            $(this).parent().children("span").removeClass("hide");
        }

    });


        
        



    </script>
    

