@model IEnumerable<ERPBO.Agriculture.ViewModels.SalesPaymentRegisterViewModel>

@{
    ViewBag.Title = "_PaymentHistoryDetails";
    int sl = 0;
    var info = (ERPBO.Agriculture.ViewModels.AgroProductSalesInfoViewModel)ViewBag.Info;
}

<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm">
    @if (info != null)
    {
    <tr>
        <td style="width:13%">Invoice No</td>
        <td style="width:15%"><b>@info.InvoiceNo</b></td>
        <td style="width:7%"> Date</td>
        <td style="width:16%"><b>@info.InvoiceDate.Value.ToString("dd-MMM-yyyy")</b></td>
        <td style="width:13%">Total Amount</td>
        <td style="width:14%"><b>@info.TotalAmount</b></td>
        <td style="width:13%">Paid Amount</td>
        <td style="width:20%"><b>@info.PaidAmount</b></td>
        <td style="width:13%" class="hide">Due Amount</td>
        <td style="width:20%" class="hide"><b>@info.DueAmount</b></td>
    </tr>
    }
</table>
<table class="table table-bordered table-striped table-sm table-responsive-lg text-sm" id="tblReturnItems">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#SL</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sl = sl + 1;
            <tr>
                <td class="text-center">@sl</td>
                <td class="text-center">@item.PaymentDate.ToString("dd-MMM-yyyy")</td>
                <td class="text-center text-bold">@item.PaymentAmount</td>
                <td class="text-center">@item.Remarks</td>
            </tr>
        }
    </tbody>
</table>