
@{
    ViewBag.Title = "CreateAgroSalesProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.tablesubtotal tr th {
        background-color: #2E8B57 !important;
        color: black !important;
    }
    table.tablesubtotalpackage tr th {
        background-color: #2F4F4F !important;
        color: white !important;
    }


    table.tadd tr th {
        background-color: #2E8B57 !important;
        color: black !important;
    }
    table.tadds tr th {
        background-color: #2F4F4F !important;
        color: white !important;
    }


    body {
        margin-top: 40px;
    }

    .container {
        margin-bottom: 60px;
        border: 1px solid rgba( 0,0,0, .4 );
        padding: 40px;
        border-radius: 6px;
    }
</style>
<div class="row mb-5" style="margin-top:-60px">
    <div class="col-md-12">


        <div class="row" style="margin-top:-2px">
            <div class="col-md-12">
                <div class="card" style="background-color:#001f3f">
                    <div class="px-2 py-1">
                        <div class="row">
                            <div class="col-md-3">

                                <a href="/AgroConfiguration/GetAgroSalesProductList" class="float-left emnDrop-btn" title="Go To List">
                                    <i class="fas fa-arrow-alt-circle-left"></i>
                                </a>
                            </div>
                            <div class="col-md-6 text-center">
                                <h7 class="text-center text-white text-bold">Challan & Invoice Posting</h7>
                            </div>

                            <div class="col-md-2">
                            </div>
                            <div class="col-md-1" style="margin-top:0px;">

                                    <button type="submit" class="emnsave-btn" id="saveButton" title="Save"><i class="fas fa-paper-plane"></i>Save</button>
           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: white; margin-top: -23px ">
            <div class="col-md-6">
                @*<div class="card shadow" style="background-color: white; margin-top: -15px ">*@

                    <div class="px-0 py-2">

                        <div class="row small ">
                            <div class="col-md-3">
                                @Html.DropDownList("ddlClientName", (IEnumerable<SelectListItem>)ViewBag.ddlClientName, "Stockiest", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger", autofocus = "autofocus" })
                                <span class="error hide req-ClientName font-weight-bold">Client Name is required!</span>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ddlDepotName", (IEnumerable<SelectListItem>)ViewBag.ddlDepotName, "--DepotName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                <span class="error hide req-DepotName font-weight-bold">Depot Name is required!</span>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group-sm date" id="simple">
                                        <input type="text" class="form-control form-control-sm" id="ChallanDate" name="date" value="">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-3">

                                <div class="form-group">
                                    <div class="input-group-sm date" id="datePicker">
                                        <input type="text" class="form-control form-control-sm"  id="InvoiceDate" name="date" value="">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row small" style="margin-top: -12px ">
                            <div class="col-md-3">
                                <select class="form-control form-control-sm" id="ddlPaymentMode">
                                    <option value="Credit">Credit</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="V.Type" id="txtVehicleType" class="form-control form-control-sm  ">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="V.Num" id="txtVehicleNumber" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="D.Name" id="txtDriverName" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row small" style="margin-top: 4px ">

                            <div class="col-md-3">
                                <input type="text" placeholder="Place" id="txtDeliveryPlace" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="ADO_DA" id="txtDo_ADO_DA" class="form-control form-control-sm ">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="DO_ADO" id="txtDoADO_Name" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <input type="number" id="ddlpayableamount" name="ddlpayableamount" class="form-control form-control-sm bg-dark text-white text-bold" readonly />
                            </div>

                        </div>
                        <div class="row small" style="margin-top: 15px ">
                            <div class="col-md-12">
                           
                                    <div class="px-2 py-1 pb-0" style="background-color: #2E8B57;">

                                        <div class="row small justify-content-center">
                                            <div class="col-md-3">
                                                @Html.DropDownList("ddlProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProductName, "--ProductName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                                <span class="error hide req-ProductName font-weight-bold">Product Name is required!</span>
                                            </div>
                                            <div class="hide">
                                                <input type="text" id="ddlQtyUnit" class="form-control form-control-sm" readonly />
                                            </div>
                                            <div class="hide">
                                                <input type="text" id="ddlQtyUnitname" class="form-control form-control-sm" readonly />
                                            </div>
                                            <div class="col-md-3 pl-0">
                                                @Html.DropDownList("ddlMeasurementName", (IEnumerable<SelectListItem>)ViewBag.ddlMeasurementName, "Measurement", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                                <span class="error hide req-MeasurementName font-weight-bold">Measurement Name is required!</span>
                                            </div>
                                            <div class="hide">
                                                <input type="text" id="ddlMeasurementSize" class="form-control form-control-sm" readonly />
                                            </div>




                                            <div class="hide">
                                                <input type="number" id="ddlttprice" name="ddlttprice" class="form-control form-control-sm" readonly />
                                            </div>
                                            <div class="hide">
                                                <input type="number" id="ddlttdis" name="ddlttdis" class="form-control form-control-sm" readonly />
                                            </div>

                                            <div class="hide">
                                                <input type="number" id="ddlpt" name="ddlpt" class="form-control form-control-sm" readonly />
                                            </div>

                                            <div class="hide">
                                                <input type="number" id="txtTotalQty" name="TotalQty" class="form-control form-control-sm" readonly />
                                            </div>
                                            <div class="hide">
                                                <input type="number" id="txtTotalAmount" name="TotalAmount" class="form-control form-control-sm" readonly />
                                            </div>
                                            <div class="hide">
                                                <input type="number" id="txtPerQty" name="PerQty" class="form-control form-control-sm" readonly />
                                            </div>

                                            <div class="col-md-1 pl-0">
                                                <input type="text" placeholder="Qty" id="txtQuanity" class="form-control form-control-sm" />
                                                <label for="ddlQuantity" class="control-label font-weight-bold text-white">
                                                    StockQty:
                                                    <span class="text-white" id="FinishGoodStockQty"></span>
                                                </label>
                                                <span class="error hide req-Quanity">Quantity is required</span>
                                                <span class="error hide req-qtyChecking">Quantity Must be less than or equal Product Qty</span>
                                            </div>

                                            <div class="col-md-1 pl-0">
                                                <input type="text" placeholder="Discount%" id="txtDiscount" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-md-2 pl-0">
                                                <input type="text" placeholder="Unit Price" id="txtPrice" class="form-control form-control-sm" readonly />
                                                <span class="error hide req-txtPrice">Price not Configure</span>
                                            </div>
                                            <div class="col-md-1 pl-0">
                                                <div>
                                                    <button type="submit" class="float-left float-md-start text-bold" id="btnAddToList" title="Save"><i class="fas fa-plus"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                        @*<div class="row" style="margin-top: 5px;">
                                            <div class="col-md-4">
                                                <input type="text" placeholder="Qty" id="txtQuanity" class="form-control form-control-sm" />
                                                <label for="ddlQuantity" class="control-label font-weight-bold text-white">
                                                    StockQty:
                                                    <span class="text-white" id="FinishGoodStockQty"></span>
                                                </label>
                                                <span class="error hide req-Quanity">Quantity is required</span>
                                                <span class="error hide req-qtyChecking">Quantity Must be less than or equal Product Qty</span>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" placeholder="Unit Price" id="txtPrice" class="form-control form-control-sm" readonly />
                                                <span class="error hide req-txtPrice">Price not Configure</span>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" placeholder="Discount%" id="txtDiscount" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-md-1 ">
                                                <div>
                                                    <button type="submit" class="btn btn-sm btn-warning float-right float-md-start text-bold" id="btnAddToList" title="Save"><i class="fas fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>*@




                                    </div>

                        

                            </div>
                        </div>
                        <div class="row small" style="margin-top: -8px ">
                            <div class="col-md-12">
                               

                                        <div class="px-0 py-1" style="background-color: #2F4F4F; margin-top: 10px; margin-bottom: -5px;" >

                                            <div class="row small justify-content-center">
                                                <div class="col-md-3">
                                                    @Html.DropDownList("ddlPackageName", (IEnumerable<SelectListItem>)ViewBag.ddlPackageName, "PackageName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                                    <span class="error hide req-ProductName font-weight-bold">Package Name is required!</span>
                                                </div>
                                                <div class="col-md-2 pl-0">
                                                    <input type="text" id="ddlPQuanity"placeholder="QTY" class="form-control form-control-sm" />
                                                    <span class="error hide req-ddlPQuanity">Quantity is required</span>
                                                </div>

                                                <div class="col-md-1 pl-0">
                                                    <div>
                                                        <button type="submit" class="float-left float-md-start text-bold" id="btnAddPackage" title="Save"><i class="fas fa-plus"></i></button>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                             
                            </div>

                        </div>
                    </div>

                @*</div>*@
            </div>
            <div class="col-md-6">
                <div class="row mt-2">
                    <div class="col-md-12">

                        <div class="card" id="card11">

                            <div class="px-2 py-0">
                                <div class="row" style="background-color: #2E8B57;">

                                    <div class="col-md-12">
                                        <h7 class="text-center text-white text-bold">Product Sales</h7>
                                    </div>


                                </div>
                            </div>
                            <div class="card-body px-0 py-0">
                                <table class="table table-head-fixed text-nowrap table-bordered table-sm table-striped table-responsive-lg tadd" id="tblList" style="background-color: white; margin-bottom: -3px ">
                                    <thead>
                                        <tr class="text-center" style="color:black">

                                            <th style="width:5%">#SL</th>
                                            <th style="width:10%">Name</th>
                                            <th style="width:10%">Mass</th>
                                            <th style="width:5%">QTY</th>
                                            <th class="hide" style="width:5%">Total Pc</th>
                                            <th style="width:5%">Rate</th>
                                            <th class="hide" style="width:5%">Discount%</th>
                                            <th style="width:5%">Discount</th>
                                            <th style="width:10%">Total</th>
                                            <th style="width:10%">Action</th>
                                            <th style="width:1%" class="hide ProductId"></th>
                                            <th style="width:1%" class="hide MeasurementId"></th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <table class="table table-head-fixed text-nowrap table-bordered table-sm table-striped table-responsive-lg table-responsive-sm table-responsive-md tablesubtotal">
                                    <thead>
                                        <tr class="text-center">

                                            <th style="width:35%">Total</th>
                                            <th style="width:7%" class="totalqty">0</th>
                                            <th style="width:10%" class="totaldis">0</th>
                                            <th style="width:10%" class="totalsub">0</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>


                        </div>

          

                       

                        

                        @*PackageTable*@

                        <div class="card" id="card2">
                            <div class="px-2 py-0">
                                <div class="row" style="background-color: #2F4F4F;">

                                    <div class="col-md-10">
                                        <h7 class="text-center text-white text-bold">Package Sales Details</h7>
                                    </div>
                                    <div class="col-md-2">

                                        <button type="button" id="rrrr" class="emn2-btn  float-right"><i class="fas fa-trash"></i></button>
                                       

                                    </div>

                                </div>
                            </div>

                            <div class="card-body px-0 py-0">
                                <table class="table table-head-fixed text-nowrap table-bordered table-sm table-striped table-responsive-lg tadds" id="tblListpackage" style="background-color: white; margin-bottom: 0px ">
                                    <thead>
                                        <tr class="text-center" style="color:black">
                                            <th style="width:10%">Product </th>
                                            <th style="width:10%">Measurement</th>
                                            <th style="width:5%">Quanity</th>
                                            <th style="width:10%">Amount</th>
                                            <th style="width:1%" class="hide ProductId"></th>
                                            <th style="width:1%" class="hide MeasurementId"></th>
                                            <th style="width:1%" class="hide FGRID"></th>
                                            <th style="width:1%" class="hide Packageid"></th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <table class="table table-head-fixed text-nowrap table-bordered table-sm table-striped table-responsive-lg table-responsive-sm table-responsive-md tablesubtotalpackage">
                                    <thead>
                                        <tr class="text-center">

                                            <th style="width:25%">Total</th>
                                            <th style="width:25%"></th>
                                            <th style="width:25%"></th>
                                            <th style="width:25%" class="totalsubpackage">0</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>









                    </div>
                </div>
            </div>
        </div>



    

        </div>
 </div>




                <!-- SELECT2 EXAMPLE -->






                @section scripts{

                    <script type="text/javascript">

        var ddlClientName = $("#ddlClientName");
        var ddlDepotName = $("#ddlDepotName");
        var ChallanDate = $("#ChallanDate");
        var InvoiceDate = $("#InvoiceDate");
        var ddlPaymentMode = $("#ddlPaymentMode");
        var txtVehicleType = $("#txtVehicleType");
        var txtVehicleNumber = $("#txtVehicleNumber");
        var txtDriverName = $("#txtDriverName");
        var txtDeliveryPlace = $("#txtDeliveryPlace");
        var txtDo_ADO_DA = $("#txtDo_ADO_DA");
        var txtDoADO_Name = $("#txtDoADO_Name");
        var ddlProductName = $("#ddlProductName");
        var ddlMeasurementName = $("#ddlMeasurementName");
        var ddlMeasurementSize = $("#ddlMeasurementSize");
        var txtQuanity = $("#txtQuanity");
        var txtPrice = $("#txtPrice");
        var txtDiscount = $("#txtDiscount");
        var FinishGoodProductInfoId = '';
        var FinishGoodStockQty = $("#FinishGoodStockQty");
        var ddlQtyUnit = $("#ddlQtyUnit");
        var ddlpt = $("#ddlpt");
        var txtTotalProductQty = $("#txtTotalProductQty");
        var txtTotalQty = $("#txtTotalQty");
        var txtTotalAmount = $("#txtTotalAmount");
        var txtPerQty = $("#txtPerQty");


        var ddlttprice = $("#ddlttprice");
        var ddlttdis = $("#ddlttdis");

        var ddlpayableamount = $("#ddlpayableamount");
        var ddlpayment = $("#ddlpayment");
        var ddlpayment = $("#ddlpayment");
        var ddldueamount = $("#ddldueamount");
        var ddlQtyUnitname = $("#ddlQtyUnitname");

        var ddlRawMaterialList = [];

        //package
        var ddlPackageName = $("#ddlPackageName");
        var ddlPQuanity = $("#ddlPQuanity");






        //date
        var date = new Date();
        var today = new Date(date.getFullYear(),date.getMonth(),date.getDate());

        var optSimple = {

            format: 'mm-dd-yyyy',
            container: '#simple',
            orientation: 'bottom right',
            todayHighlight: true,
            autoclose: true
        };

        var optComponent = {

            format: 'mm-dd-yyyy',
            container: '#datePicker',
            orientation: 'bottom right',
            todayHighlight: true,
            autoclose: true
        };

        // SIMPLE
        $('#simple').datepicker(optSimple);

        // COMPONENT
        $('#datePicker').datepicker(optComponent);

        // ===================================



        $('#datepicker1, #datepicker2, #simple, #datePicker').datepicker('setDate', today);
        //dateend



        //var QuantityCheck = $("#QuantityCheck");


        var ClientId = '';
        var MeasurementId = '';
        var ProductId = '';
        var UnitId = '';


        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $(function () {
                $('#ddlClientName').focus();
            });

            $('#card1').hide();
            $('#card2').hide();

        })

        ddlMeasurementName.change(function () {
            //debugger;
            //alert("test");
            var data = { MeasurementId: ddlMeasurementName.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetMeasurementIdWiseSize", data)).then(function (res, status) {
                // debugger;
                console.log(res);

                consoleLog(res.replace(/['"]+/g, ''));
                var measurement = res.replace(/['"]+/g, '');
                ddlMeasurementSize.val(measurement);
                console.log(ddlMeasurementSize.val());

            });


            var data = { FinishGoodProductId: TryParseInt(ddlProductName.val(), 0), MeasurementId: TryParseInt(ddlMeasurementName.val(), 0) };
            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetQtyKG", data)).then(function (res, status) {
                // debugger;
                console.log(res);

                consoleLog(res.replace(/['"]+/g, ''));
                var QtyKG = res.replace(/['"]+/g, '');
                ddlQtyUnitname.val(QtyKG);
                console.log(ddlQtyUnitname.val())
            });


            var data = { FinishGoodProductId: TryParseInt(ddlProductName.val(), 0), MeasurementId: TryParseInt(ddlMeasurementName.val(), 0) };
            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetFGRId", data)).then(function (res, status) {
                // debugger;
                console.log(res);

                consoleLog(res.replace(/['"]+/g, ''));
                var FGRId = res.replace(/['"]+/g, '');
                ddlQtyUnit.val(FGRId);
                console.log(ddlQtyUnit.val());



                let proid = $("#ddlProductName option:selected").val();
                let fgrid = FGRId;
                 // debugger;
                var data = { pid: TryParseInt(proid, 0), rid: TryParseInt(fgrid, 0) };
                $.when(getReqWithData('Html', "Get", "/AgroConfiguration/ProductPrice", data)).then(function (res, status) {


                    consoleLog(res.replace(/['"]+/g, ''));
                    var proprice = res.replace(/['"]+/g, '');
                    txtPrice.val(res.proprice);
                    txtPrice.val(proprice);

                });



               // debugger;
                $("#txtQuanity").text('(0)');
                var FinishGoodProductInfoId = ddlProductName.val();
                var QtyKG = FGRId;
                if (FinishGoodProductInfoId != "") {
                   // debugger;
                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/GetFinishGoodstockCheck', JSON.stringify({ FinishGoodProductInfoId: TryParseInt(ddlProductName.val()), FGRID: QtyKG, MeasurementId: TryParseInt(ddlMeasurementName.val()) }), getToken())).then(function (res, status) {
                      //  debugger;
                        console.log(res);
                        console.log(status);
                        if (status == "success") {
                          //  debugger;
                            disable("#FinishGoodStockQty");


                            FinishGoodStockQty.text(res.FinishGoodStockQty);
                            //RawMaterialStockUnit.text('(' + res.RawMaterialStockUnit + ')');

                        }
                    }).fail(function (error) {
                        consoleLog(error);
                    })
                }



            });


        })
        var SalesProductNameList = [];


        ddlProductName.change(function () {



            Loadmeasurment();


        })





        function Loadmeasurment()
        {
           // debugger;
            clearDropdown("ddlMeasurementName");
            if (ddlProductName.val() != "") {
                var FinishGoodProductInfoId = ddlProductName.val();

                LoadDropDown('/AgroConfiguration/GetmeasurmentUnitQtyByProductionId', 'POST', ddlMeasurementName, JSON.stringify({ FinishGoodProductInfoId: ddlProductName.val() }));
               // debugger;
            }
            else {
                clearDropdown("ddlMeasurementName");

            }
        }



        $("#btnAddToList").click(function (e) {
            e.preventDefault();
            //debugger;

            if (validates() == true) {


                    var sl = $("#tblList tbody tr").length;

                    var td1 = "<td class='text-center text-bold'>" + (sl + 1) + "</td>"
                    var td2 = "<td class='text-center'>" + dropDownSelectedText("ddlProductName") + "</td>";
                    var td3 = "<td class='text-center'>" + dropDownSelectedText("ddlMeasurementName") + "</td>";


                   var td4 = "<td class='text-center QuanityIDCell'>" + txtQuanity.val() + "</td>";
                var td5 = "<td class='text-center QuanityIDCell hide'>" + txtTotalQty.val() + "</td>";
                var td6 = "<td class='text-center' >" + txtPrice.val() + "</td>";
                   var td7 = "<td class='text-center hide'>" + txtDiscount.val() + "</td>";

                var td8 = "<td class='text-center DiscountIDCell'>" + Number(ddlttdis.val()).toFixed(2) + "</td>";

                var td9 = "<td class='text-center TotalIDCell'>" + Number(ddlpt.val()).toFixed(2) + "</td>";

                var td10 = "<td class='text-center'><a href='#' class='emn-btn data-onfly-del' data-subtotal='" + ddlpt.val() + "' data-quentaty='" + txtQuanity.val() + "'  data-discount='" + ddlttdis.val() + "'><i class='far fa-trash-alt'></i></a></td>";


                var td11 = "<td class='hide ProductId'>" + ddlProductName.val() + "</td>";
                var td12 = "<td class='hide MeasurementId'>" + ddlMeasurementName.val() + "</td>";
                var td13 = "<td class='hide '>" + ddlQtyUnitname.val() + "</td>";
                var td14 = "<td class='hide '>" + ddlQtyUnit.val() + "</td>";


                var tr = "<tr class='text-sm'>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + td9 + td10 + td11 + td12 + td13 + td14 + "</tr>";



                    //totalprice
                to = parseFloat($('.totalsub').text()) + parseFloat(ddlpt.val());
                $('.totalsub').text(to.toFixed(2));
                    console.log(to);
                    //totalprice
                    //tqty
                to1 = parseFloat($('.totalqty').text()) + parseFloat(txtQuanity.val());
                $('.totalqty').text(to1.toFixed(2));
                    console.log(to1);
                    //tqty
                    //tdis
                to2 = parseFloat($('.totaldis').text()) + parseFloat(ddlttdis.val());
                $('.totaldis').text(to2.toFixed(2));
                    console.log(to2);
                    //tqty


                var totalsu = parseFloat($('.totalsub').text()) + parseFloat($('.totalsubpackage').text());//initilize class total
                ddlpayableamount.val(totalsu.toFixed(2));

                    $("#tblList tbody").append(tr);


                $('#card1').show();

            }

            ClearData();
        })


        //pacakgeadd
        $("#btnAddPackage").click(function (e) {
            e.preventDefault();
/*            if (validationAddToList()) {*/
            debugger;
            var data = { PackageId: TryParseInt(ddlPackageName.val(), 0), Qty: ddlPQuanity.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetPackagedetailsandstockchk", data)).then(function (res, status) {
                    debugger;
                    console.log(res);

                    var sl = 0;
                    material = JSON.parse(res)
                    console.log(material);
                    var len = material.length;
                    console.log("length: " + len);

                    if (material == "False") {
                        //debugger;
                        toastrErrorAlert("Insufficient Product");
                    }
                    else {
                        //debugger;
                        $.each(material, function (index, value) {
                           // debugger;
/*                            var sl = $("#tblListpackage tbody tr").length;*/
                            var td1 = "<td class='text-center'>" + value.FinishGoodProductName + "</td>";
                            var td2 = "<td class='text-center'>" + value.MeasurementName + "</td>";
                            var td3 = "<td class='text-center'>" + (value.Quanity * ddlPQuanity.val()) + "</td>";
                            var td4 = "<td class='text-center'>" + Number(value.Amount * ddlPQuanity.val()).toFixed(2) + "</td>";
                            var td5 = "<td class='text-center hide'>" + value.FinishGoodProductId + "</td>";
                            var td6 = "<td class='text-center hide'>" + value.MeasurementId + "</td>";
                            var td7 = "<td class='text-center hide'>" + value.FGRId + "</td>";
                            var td8 = "<td class='text-center hide'>" + value.PackageId + "</td>";
                            var td9 = "<td class='text-center hide'>" + value.QtyKG + "</td>";
                            var td10 = "<td class='text-center hide'>" + (value.Amount / value.Quanity) + "</td>";


                            var tr = "<tr class='text-sm'>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + td9 + td10 + "</tr>";
                            $("#tblListpackage tbody").append(tr)
                            debugger;
                            console.log((value.Amount * ddlPQuanity.val()));


                            to = parseFloat($('.totalsubpackage').text()) + (value.Amount * ddlPQuanity.val());
                            $('.totalsubpackage').text(to.toFixed(2));
                            console.log(to);




                        })
                        $('#card2').show();
                        var totalsut = parseFloat($('.totalsub').text()) + parseFloat($('.totalsubpackage').text());//initilize class total
                        ddlpayableamount.val(totalsut.toFixed(2));


                    }


                });

           /* }*/
        })
        //pacakgeaddend





        function ClearData() {
            txtQuanity.val("");
            txtDiscount.val("");




        }



        //calculatetotal



        txtQuanity.keyup(function () {
            if (txtQuanity.val() >= 0) {
                //debugger;

                calculateTotal();

                totalAmounts();
                payabl();


            }


        });



        function calculateTotal() {

            var sub = txtPrice.val() * txtQuanity.val();
            ddlttprice.val(sub);


        }

        function totalAmounts() {

            var sub = txtQuanity.val() * txtPrice.val();
            txtTotalAmount.val(sub);


        }


        function payabl() {
           // debugger;
            consoleLog(txtTotalAmount.val());
            consoleLog(ddlttdis.val());
            var pay = txtTotalAmount.val() - ddlttdis.val();


            ddlpt.val(pay);
        }
        //payable


        //calculatedis
        txtDiscount.keyup(function () {
            if (txtQuanity.val() >= 0) {
                calculateTotalDis();

                TotalDiscount();
                payabl();
            }


        });
        function TotalDiscount() {

            var sub = txtTotalAmount.val() * txtDiscount.val()/100;
            ddlttdis.val(sub);


        }

        txtPrice.keyup(function () {
            if (txtPrice.val() >= 0) {
                calculateTotalDis();
                payabl();
            }

        });
        txtQuanity.keyup(function () {
            if (txtQuanity.val() >= 0) {
                calculateTotalDis();
                payabl();
            }


        });

        function calculateTotalDis() {

            var sub1 = ddlttprice.val() * txtDiscount.val() / 100
            ddlttdis.val(sub1);

        }


        //calculateend

        //duecalculate
        function caltulatedue() {


            var dueamount = ddlpayableamount.val() - ddlpayment.val();
            ddldueamount.val(dueamount);
        }

        //duecalculate end

        ddlpayment.keyup(function () {
            if (ddlpayment.val() >= 0) {

                caltulatedue();
            }


        });





        function validates() {
            debugger;
            var isValid = true;
            $(".error").addClass('hide');

            if (ddlProductName.val() === "") {
                $(".required-ProductName").removeClass('hide');
                isValid = false;
            }
            if (ddlMeasurementName.val() === "") {
                $(".required-MeasurementName").removeClass('hide');
                isValid = false;
            }
            if (txtQuanity.val() === "") {
                $(".req-req-Quanity").removeClass('hide');
                isValid = false;
            }
            if (txtPrice.val() === "") {
                $(".req-txtPrice").removeClass('hide');
                isValid = false;
            }
            if (QuantityCheck() == true) {
                $(".req-qtyChecking").removeClass('hide');
                isValid = false;
            }




            return isValid;
        }



        function QuantityCheck() {
            debugger;
            var isValid = false;
            var originalQty = FinishGoodStockQty.text();
            var qty = txtQuanity.val();
            console.log(qty);
            if (TryParseInt(txtQuanity.val()) > originalQty) {
                isValid = true
            }
            return isValid;
        }


        $(document).on("click", "a.data-onfly-del", function (e) {
            e.preventDefault();
            debugger;
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');



            //tt
            var subtotal = $(this).data("subtotal");
            var row = $(this).data("quentaty");
            var row1 = $(this).data("discount");
            console.log(row);
            console.log(subtotal);
            console.log(row1);


            //tt


            var rId = tds.eq(9).html();
            console.log("rId :" + rId);
            const mid = ddlRawMaterialList.indexOf(rId);

            ddlRawMaterialList.splice(mid, 1);


            if (bootbox.confirm("Are you sure you want to delete?", function (result) {
                if (result === true) {
                    debugger;
                    removeTableRow("#tblList tbody", index);
                    fnFixTheTbodyRowSerialInDecsOrder("#tblList", index);

                    debugger;
                    console.log(parseFloat($(".totalsubpackage").text()));

                    var totals = parseFloat($(".totalsub").text()) - parseFloat(subtotal);
                    $('.totalsub').text(totals.toFixed(2));

     

                    var totalsq = parseFloat($(".totalqty").text()) - parseFloat(row);
                    $('.totalqty').text(totalsq);

                    var totalsd = parseFloat($(".totaldis").text()) - parseFloat(row1);
                    $('.totaldis').text(totalsd.toFixed(2));

                    var mtotals = parseFloat($(".totalsub").text()) + parseFloat($(".totalsubpackage").text())
                   // ddlpayableamount.val(mtotal);
                    // var totalsu = $('.totalsub').text();//initilize class total
                    ddlpayableamount.val(mtotals.toFixed(2));

                };
            }));


        })




        $("#saveButton").click(function (e) {
            debugger
            e.preventDefault();
            if (true === true) {

                bootbox.confirm("Are you sure you want to Save this Sales", function (result) {
                    if (result) {
                        //debugger;
                        //disable("#btnSubmit");
                        //getTargetItemAndItemTypeAndWarehouse();
                        var totalsub = $('.totalsub').text();//initilize class total
                        var info = { ProductSalesInfoId: 0, UserId: TryParseInt(ddlClientName.val(), 0), Depot: ddlDepotName.val(), InvoiceDate: InvoiceDate.val(), ChallanDate: ChallanDate.val(), VehicleType: txtVehicleType.val(), VehicleNumber: txtVehicleNumber.val(), DriverName: txtDriverName.val(), DeliveryPlace: txtDeliveryPlace.val(), Do_ADO_DA: txtDo_ADO_DA.val(), DoADO_Name: txtDoADO_Name.val(), PaymentMode: ddlPaymentMode.val(), TotalAmount: ddlpayableamount.val(), PaidAmount: ddlpayment.val() };

                        var details = [];
                        details.length = 0;

                        $.each($("#tblList tbody tr"), function (index, item) {
                            var tds = $(this).children('td');
                            //debugger;
                            details.push({
                               ProductSalesDetailsId: 0,
                               MeasurementId: tds.eq(11).html(),
                               Quanity: tds.eq(3).html(),
                               Price: tds.eq(5).html(),
                               Discount: tds.eq(6).html(),
                               FinishGoodProductInfoId: tds.eq(10).html(),
                               MeasurementSize: tds.eq(2).html(),
                               DiscountTk: tds.eq(7).html(),
                               QtyKG: tds.eq(12).html(),
                               FGRId: tds.eq(13).html(),




                            });
                        })





                        $.each($("#tblListpackage tbody tr"), function (index, item) {
                            var tds = $(this).children('td');
                           // debugger;
                            details.push({
                                ProductSalesDetailsId: 0,
                                MeasurementId: tds.eq(5).html(),
                                Quanity: tds.eq(2).html(),
                                Price: tds.eq(9).html(),
                                FinishGoodProductInfoId: tds.eq(4).html(),
                                MeasurementSize: tds.eq(1).html(),
                                FGRId: tds.eq(6).html(),
                                PackageId: tds.eq(7).html(),
                                QtyKG: tds.eq(8).html(),
                            });

                        })

                        console.log('Info');
                        console.log(info);
                        console.log('Detail');
                        console.log(details);



                        var data = JSON.stringify({ info: info, details: details });
                        //return;
                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveAgroProductSalesInfo', data , getToken())).then(function (res, status)
                        {
                            debugger;
                            if (res.isSucccess === true)
                            {
                                $('.toastrDefaultSuccess').trigger('click');
                                var InvoiceNo = res.File;
                                window.open('/AgroConfiguration/AgroProductSalesReport?InvoiceNo=' + InvoiceNo, '_blank');
                                setTimeout(function () {
                                    redirectPage('@Url.Action("GetAgroSalesProductList")');
                                }, 500);

                            }
                            if (res === false)
                            {
                                toastrErrorAlert("Insufficient Product");
                                //alert("Insufficient Product");
                            }
                            else
                            {
                                $('.toastrDefaultError').trigger('click');
                            }


                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                        })
                    }
                })
            }
        })









        function redirectPage(page) {
            window.location.replace(page);
        }



                $(document).on("click", "#rrrr", function (e) {
                    e.preventDefault();
                    debugger;

                    if (bootbox.confirm("Are you sure you want to delete?", function (result) {
                        if (result === true) {
                            debugger;

                            $("#tblListpackage tbody").empty();

                            var tt = parseFloat($(".totalsubpackage").text())

                            var mtotal = parseFloat(ddlpayableamount.val()) - parseFloat($(".totalsubpackage").text())
                            ddlpayableamount.val(mtotal.toFixed(2));

                            var rtotal = 0;
                            $('.totalsubpackage').text(rtotal.toFixed(2));
                            $('#card2').hide();


                        };
                    }));


                })
                    </script>

                }
