
@{
    ViewBag.Title = "CreateAgroSalesProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.tablesubtotal tr th {
        background-color: black !important;
        color: white !important;
    }

    table.tadd tr th {
        background-color: darkcyan !important;
        color: white !important;
    }
</style>
<div class="row text-sm" style="margin-top:-15px">
    <div class="col-md-12">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">

                        <a href="/AgroConfiguration/GetAgroSalesProductList" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">Challan & Invoice Posting</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
            <div class="card-body mb-5">
                <div class="row">
                    <div class="col-md-7" style="border-right:2px solid #f6eaaa">
                        <h5 style="border-bottom:2px solid #f6eaaa">
                            Challan & Invoice Product
                        </h5>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="ddlClient" class="col-form-label">
                                    Client Name
                                </label>
                                @Html.DropDownList("ddlClientName", (IEnumerable<SelectListItem>)ViewBag.ddlClientName, "--Select ClientName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                <span class="error hide req-ClientName font-weight-bold">Client Name is required!</span>
                            </div>
                            <div class="col-md-3">
                                <label for="ddlDepotName" class="col-form-label">Depot</label>
                                <input type="text" id="ddlDepotName" class="form-control form-control-sm" />
                            </div>
                            @*<div class="col-md-6">
                                    <label for="ddlChallanNo" class="col-form-label">Challan No.</label>
                                    <input type="text" id="ddlChallanNo" class="form-control form-control-sm" />
                                </div>*@

                            <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Challan Date</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker-ChallanDate ctrl-changed" id="ChallanDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date ChallanDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>

                            </div>

                            @*<div class="col-md-4">
                                    <label for="ddlInvoiceNo" class="col-form-label">Invoice No.</label>
                                    <input type="text" id="ddlInvoiceNo" class="form-control form-control-sm" />
                                </div>*@

                            <div class="col-md-2">
                                <label class="col-form-label font-weight-bold">Invoice Date</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control form-control-sm date-datePicker-InvoiceDate ctrl-changed" id="InvoiceDate" />
                                    <div class="input-group-prepend cursor-pointer remove-date InvoiceDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="ddlPaymentMode" class="col-form-label">Payment</label>
                                <select class="form-control form-control-sm" id="ddlPaymentMode">
                                    <option value="Credit">Credit</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label" for="model">Vehicle Type</label>
                                <input type="text" id="txtVehicleType" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label" for="model">Vehicle No.</label>
                                <input type="text" id="txtVehicleNumber" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label" for="model">Driver Name</label>
                                <input type="text" id="txtDriverName" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label" for="model">Delivery Place</label>
                                <input type="text" id="txtDeliveryPlace" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label" for="model">Do/ADO/DA</label>
                                <input type="text" id="txtDo_ADO_DA" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label" for="model">DOADO_Name</label>
                                <input type="text" id="txtDoADO_Name" class="form-control form-control-sm">
                            </div>


                        </div>

                    </div>


                    <div class="col-md-5" style="border-left:2px solid #f87878">
                        <h5 style="border-bottom:2px solid #f87878">Product Salse</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="ddlProductName" class="col-form-label">
                                    Product Name
                                </label>
                                @Html.DropDownList("ddlProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProductName, "--Select ProductName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                <span class="error hide req-ProductName font-weight-bold">Product Name is required!</span>
                            </div>
                            <div class="col-md-4">
                                <label for="ddlMeasurementName" class="col-form-label">
                                    Measurement Name
                                </label>
                                @Html.DropDownList("ddlMeasurementName", (IEnumerable<SelectListItem>)ViewBag.ddlMeasurementName, "--Select MeasurementName--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                <span class="error hide req-MeasurementName font-weight-bold">Measurement Name is required!</span>
                            </div>
                            <div class="col-md-4">
                                <label for="ddlRawMaterial" class="col-form-label">Measurement Size</label>
                                @*@Html.DropDownList("ddlMeasurementSize", (IEnumerable<SelectListItem>)ViewBag.ddlMeasurementSize, "--Select Measurement Size--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })*@
                                <input type="text" id="ddlMeasurementSize" class="form-control form-control-sm" readonly />

                            </div>
                            <div class="col-md-4">
                                <label for="ddlQuanity" class="col-form-label">Quanity</label>
                                <input type="text" id="txtQuanity" class="form-control form-control-sm" />
                                <label for="ddlQuantity" class="control-label font-weight-bold">
                                    Finish Good Qty
                                    <span id="FinishGoodStockQty"></span>
                                    @*<input type="number" id="stockQty" />*@
                                </label>
                                <span class="error hide req-Quanity">Quantity is required</span>
                                <span class="error hide req-qtyChecking">Quantity Must be less than or equal Product Qty</span>
                            </div>
                            <div class="col-md-3">
                                <label for="ddlPrice" class="col-form-label">Rate</label>
                                <input type="text" id="txtPrice" class="form-control form-control-sm" />
                            </div>
                            <div class="col-md-3">
                                <label for="ddlPrice" class="col-form-label">Discount %</label>
                                <input type="text" id="txtDiscount" class="form-control form-control-sm" />
                            </div>
                            <div class="hide">
                                <label>SubTotal</label>
                                <input type="number" id="ddlttprice" name="ddlttprice" class="form-control form-control-sm" readonly />
                            </div>
                            <div class="hide">
                                <label>Total Discount</label>
                                <input type="number" id="ddlttdis" name="ddlttdis" class="form-control form-control-sm" readonly />
                            </div>

                            <div class="col-md-2">
                                @*<label for="" class="control-label" style="visibility:hidden"> Add To List</label>*@
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-sm btn-warning text-bold float-left" id="btnAddToList" title="Save"><i class="fas fa-plus"></i></button>


                                </div>

                            </div>


                        </div>

                        @*<div class="row">
                                <div class="col-md-8">
                                    @Html.AntiForgeryToken()
                                    <table class="table table-head-fixed text-nowrap table-bordered table-sm table-striped table-responsive-lg" id="tblList">
                                        <thead>
                                            <tr>
                                                <th colspan="10" class="text-center">
                                                    <span class="error hide no-items">Please load the table first.</span>
                                                    <button type="submit" id="btnSubmit" class="btn btn-sm btn-success float-left">
                                                        <i class="fas fa-paper-plane"></i> Save
                                                    </button>
                                                </th>
                                            </tr>
                                            <tr class="text-center btn-dark">
                                                <th style="width:5%">#SL</th>
                                                <th style="width:10%">Name</th>
                                                <th style="width:10%">Measurement Desc</th>
                                                <th style="width:5%">Quanity</th>
                                                <th style="width:5%">Rate</th>
                                                <th style="width:5%">Discount%</th>
                                                <th style="width:5%">Discount(Tk.)</th>
                                                <th style="width:10%">Amount(Tk.)</th>
                                                <th style="width:10%">Action</th>
                                                <th style="width:1%" class="hide ProductId"></th>
                                                <th style="width:1%" class="hide MeasurementId"></th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>

                            </div>*@


                    </div>





                    @*e*@
                    <div class="card-body">
                        <div class="card-body table-responsive p-0 shadow" style="height: 200px;">
                            <table class="table table-head-fixed text-nowrap tadd" id="tblList">
                                <thead>
                                    <tr class="text-center" style="color:black">

                                        <th style="width:5%">#SL</th>
                                        <th style="width:10%">Name</th>
                                        <th style="width:10%">Measurement Desc</th>
                                        <th style="width:5%">Quanity</th>
                                        <th style="width:5%">Rate</th>
                                        <th style="width:5%">Discount%</th>
                                        <th style="width:5%">Discount(Tk.)</th>
                                        <th style="width:10%">Amount(Tk.)</th>
                                        <th style="width:10%">Action</th>
                                        <th style="width:1%" class="hide ProductId"></th>
                                        <th style="width:1%" class="hide MeasurementId"></th>

                                    </tr>
                                </thead>
                                <tbody class="bg-gradient-gray"></tbody>
                            </table>
                        </div>

                        @*Total*@
                        <table class="table table-head-fixed text-nowrap tablesubtotal">
                            <thead>
                                <tr class="text-center">

                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="totalqty">0</th>
                                    <th class="totaldis">0</th>
                                    <th class="totalsub">0</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="bg-gradient-gray"></tbody>
                        </table>
                        @*Total*@
                    </div>
                    @*E*@




                </div>



                <div class="row ">

                    <div class="container-fluid" @*style="background-color:#e7f1f6;"*@>
                        @*<h5 style="border-bottom:2px solid #f87878">Payment</h5>*@
                        <div class="row justify-content-center">

                            <div class="col-md-12 ">

                                <div class="row justify-content-center">


                                    <div class="col-md-2">
                                        <label>Payable Amount</label>
                                        <input type="number" id="ddlpayableamount" name="ddlpayableamount" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-md-2">
                                        <label for="ddlpayment">Payment</label>
                                        <input type="number" id="ddlpayment" name="ddlpayment" class="form-control form-control-sm" />
                                        <span class="error hide req-uprice">Unit Price Is Required</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Due Amount</label>
                                        <input type="number" id="ddldueamount" name="ddldueamount" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="col-md-2" style="margin-top:0px;">
                                        <label for="" class="control-label" style="visibility:hidden"> Add To List</label>
                                        <div class="clearfix">
                                            <button type="submit" class="btn btn-sm btn-success text-bold float-left" id="saveButton" title="Save"><i class="fas fa-paper-plane"></i>Save</button>
                                        </div>

                                    </div>



                                </div>

                            </div>


                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>




@section scripts{

    <script type="text/javascript">

        var ddlClientName = $("#ddlClientName");
        var ddlDepotName = $("#ddlDepotName");
        var ChallanDate = $("#ChallanDate");
        var InvoiceDate = $("#InvoiceDate");
        var ddlPaymentMode = $("#ddlPaymentMode");
        var txtVehicleType = $("#txtVehicleType");
        var txtVehicleNumber = $("#txtVehicleNumber");
        var txtDriverName = $("#txtDriverName");
        var txtDeliveryPlace = $("#txtDeliveryPlace");
        var txtDo_ADO_DA = $("#txtDo_ADO_DA");
        var txtDoADO_Name = $("#txtDoADO_Name");
        var ddlProductName = $("#ddlProductName");
        var ddlMeasurementName = $("#ddlMeasurementName");
        var ddlMeasurementSize = $("#ddlMeasurementSize");
        var txtQuanity = $("#txtQuanity");
        var txtPrice = $("#txtPrice");
        var txtDiscount = $("#txtDiscount");
        var FinishGoodProductInfoId = '';
        var FinishGoodStockQty = $("#FinishGoodStockQty");



        var ddlttprice = $("#ddlttprice");
        var ddlttdis = $("#ddlttdis");

        var ddlpayableamount = $("#ddlpayableamount");
        var ddlpayment = $("#ddlpayment");
        var ddlpayment = $("#ddlpayment");
        var ddldueamount = $("#ddldueamount");

        var ddlRawMaterialList = [];






        //var QuantityCheck = $("#QuantityCheck");


        var ClientId = '';
        var MeasurementId = '';
        var ProductId = '';
        var UnitId = '';


        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            InvoiceDate.prop('readonly', true);
            InvoiceDate.css("background-color", "#fff");
            $('#InvoiceDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });

            ChallanDate.prop('readonly', true);
            ChallanDate.css("background-color", "#fff");
            $('#ChallanDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true
            });

            //ExpireDate.prop('readonly', true);
            //ExpireDate.css("background-color", "#fff");
            //$('#ExpireDateExpireDate').datepicker({
            //    format: "dd MM yyyy",
            //    orientation: "bottom auto",
            //    todayHighlight: true
            //})

        })

        ddlMeasurementName.change(function () {
            debugger;
            //alert("test");
            var data = { MeasurementId: ddlMeasurementName.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetMeasurementIdWiseSize", data)).then(function (res, status) {
                // debugger;
                console.log(res);

                consoleLog(res.replace(/['"]+/g, ''));
                var measurement = res.replace(/['"]+/g, '');
                ddlMeasurementSize.val(measurement);
                console.log(ddlMeasurementSize.val());

            });

        })
        var SalesProductNameList = [];


        ddlProductName.change(function () {

            LoadFinishGoodStock();

        })

        function LoadFinishGoodStock() {
            debugger;

            $("#txtQuanity").text('(0)');
            var FinishGoodProductInfoId = ddlProductName.val();
            if (FinishGoodProductInfoId != "") {
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/GetFinishGoodstockCheck', JSON.stringify({ FinishGoodProductInfoId: TryParseInt(ddlProductName.val(), 0) }), getToken())).then(function (res, status) {
                    debugger;
                    console.log(res);
                    console.log(status);
                    if (status == "success") {
                        debugger;
                        disable("#FinishGoodStockQty");


                        FinishGoodStockQty.text( res.FinishGoodStockQty  );
                        //RawMaterialStockUnit.text('(' + res.RawMaterialStockUnit + ')');

                    }
                }).fail(function (error) {
                    consoleLog(error);
                })
            }
        }

        function LoadCurrentFinishGoodStock() {
            debugger;
            //var t = txtQuanity.val()
            //var span = document.getElementById("FinishGoodStockQty").innerText;
           
            $("#txtQuanity").text('(0)');
            var FinishGoodProductInfoId = ddlProductName.val();
            if (FinishGoodProductInfoId != "") {
                var FinishGoodStockQty = document.getElementById("FinishGoodStockQty").innerText;
                var TextQty = txtQuanity.val();
                var CurrentQty = FinishGoodStockQty - TextQty;
                document.getElementById("FinishGoodStockQty").textContent = CurrentQty;
            }
        }

        $("#btnAddToList").click(function (e) {
            e.preventDefault();
            debugger;

            if (validates() == true) {

                LoadCurrentFinishGoodStock(); 



                    var sl = $("#tblList tbody tr").length;

                    var td1 = "<td class='text-center text-bold'>" + (sl + 1) + "</td>"
                    var td2 = "<td class='text-center'>" + dropDownSelectedText("ddlProductName") + "</td>";
                    var td3 = "<td class='text-center'>" + dropDownSelectedText("ddlMeasurementName") + "  " + ddlMeasurementSize.val() +"</td>";
                    var td4 = "<td class='text-center QuanityIDCell'>" + txtQuanity.val() + "</td>";
                    var td5 = "<td class='text-center' >" + txtPrice.val() + "</td>";
                    var td6 = "<td class='text-center'>" + txtDiscount.val() + "</td>";

                    //var td7 = "<td class='text-center DiscountIDCell'>" + txtQuanity.val() * txtPrice.val() / txtDiscount.val() + "</td>";
                     //var td7 = "<td class='text-center DiscountIDCell'>" + ddlttprice.val() * txtDiscount.val() / 100 + "</td>";
                     var td7 = "<td class='text-center DiscountIDCell'>" + ddlttdis.val() + "</td>";
                    //var td8 = "<td class='text-center TotalIDCell'>" + txtQuanity.val() * txtPrice.val() + "</td>";
                    var td8 = "<td class='text-center TotalIDCell'>" + ddlttprice.val()  + "</td>";

                   // var td9 = "<td class='text-center'> <a href='#' class='btn btn-sm btn-danger btn-flat data-onfly-del'><i class='far fa-trash-alt'></i></a></td>";
                    var td9 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del' data-subtotal='" + ddlttprice.val() + "' data-quentaty='" + txtQuanity.val() + "'  data-discount='" + ddlttdis.val() + "'><i class='far fa-trash-alt'></i> Delete</a></td>";


                    var td10 = "<td class='hide ProductId'>" + ddlProductName.val() + "</td>";
                    var td11 = "<td class='hide MeasurementId'>" + ddlMeasurementName.val() + "</td>";

                    var tr = "<tr class='text-sm'>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + td9 + td10 + td11 + "</tr>";



                    //totalprice
                to = parseFloat($('.totalsub').text()) + parseFloat(ddlttprice.val());
                    $('.totalsub').text(to);
                    console.log(to);
                    //totalprice
                    //tqty
                to1 = parseFloat($('.totalqty').text()) + parseFloat(txtQuanity.val());
                    $('.totalqty').text(to1);
                    console.log(to1);
                    //tqty
                    //tdis
                to2 = parseFloat($('.totaldis').text()) + parseFloat(ddlttdis.val());
                 $('.totaldis').text(to2);
                    console.log(to2);
                    //tqty


                var totalsu = $('.totalsub').text();//initilize class total
                ddlpayableamount.val(totalsu);

                    $("#tblList tbody").append(tr);



            }

            //ClearData();
        })



        //calculatetotal
        txtQuanity.keyup(function () {
            if (txtQuanity.val() >= 0) {
                calculateTotal();
            }


        });

        txtPrice.keyup(function () {
            if (txtPrice.val() >= 0) {
                calculateTotal();

            }

        });

        function calculateTotal() {

            var sub = txtPrice.val() * txtQuanity.val();
            ddlttprice.val(sub);

        }
        //calculateend

        //calculatedis
        txtDiscount.keyup(function () {
            if (txtQuanity.val() >= 0) {
                calculateTotalDis();
            }


        });

        txtPrice.keyup(function () {
            if (txtPrice.val() >= 0) {
                calculateTotalDis();

            }

        });
        txtQuanity.keyup(function () {
            if (txtQuanity.val() >= 0) {
                calculateTotalDis();
            }


        });

        function calculateTotalDis() {

            var sub1 = ddlttprice.val() * txtDiscount.val() / 100
            ddlttdis.val(sub1);

        }


        //calculateend

        //duecalculate
        function caltulatedue() {


            var dueamount = ddlpayableamount.val() - ddlpayment.val();
            ddldueamount.val(dueamount);
        }

        //duecalculate end

        ddlpayment.keyup(function () {
            if (ddlpayment.val() >= 0) {

                caltulatedue();
            }


        });





        function validates() {
            var isValid = true;
            $(".error").addClass('hide');

            if (ddlProductName.val() === "") {
                $(".required-ProductName").removeClass('hide');
                isValid = false;
            }
            if (ddlMeasurementName.val() === "") {
                $(".required-MeasurementName").removeClass('hide');
                isValid = false;
            }
            if (txtQuanity.val() === "") {
                $(".req-req-Quanity").removeClass('hide');
                isValid = false;
            }
            if (QuantityCheck() == true) {
                $(".req-qtyChecking").removeClass('hide');
                isValid = false;
            }




            return isValid;
        }

        function QuantityCheck() {
            var isValid = false;
            var originalQty = FinishGoodStockQty.text();
            var qty = originalQty.replace(/\(|\)/g, '');
            console.log(qty);
            if (TryParseInt(txtQuanity.val()) > qty) {
                isValid = true
            }
            return isValid;
        }


        $(document).on("click", "a.data-onfly-del", function (e) {
            e.preventDefault();
            debugger;
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');



            //tt
            var subtotal = $(this).data("subtotal");
            var row = $(this).data("quentaty");
            var row1 = $(this).data("discount");
            console.log(row);
            console.log(subtotal);
            console.log(row1);


            //tt


            var rId = tds.eq(9).html();
            console.log("rId :" + rId);
            const mid = ddlRawMaterialList.indexOf(rId);

            ddlRawMaterialList.splice(mid, 1);


            if (bootbox.confirm("Are you sure you want to delete?", function (result) {
                if (result === true) {
                    debugger;
                    removeTableRow("#tblList tbody", index);
                    fnFixTheTbodyRowSerialInDecsOrder("#tblList", index);



                    var totals = parseFloat($(".totalsub").text()) - parseFloat(subtotal);
                    $('.totalsub').text(totals);

                    var totalsq = parseFloat($(".totalqty").text()) - parseFloat(row);
                    $('.totalqty').text(totalsq);

                    var totalsd = parseFloat($(".totaldis").text()) - parseFloat(row1);
                    $('.totaldis').text(totalsd);


                   // var totalsu = $('.totalsub').text();//initilize class total
                    ddlpayableamount.val(totals);

                };
            }));


        })











        $("#saveButton").click(function (e) {
            debugger
            e.preventDefault();
            if (true === true) {

                bootbox.confirm("Are you sure you want to Save this Sales", function (result) {
                    if (result) {
                        debugger;
                        //disable("#btnSubmit");
                        //getTargetItemAndItemTypeAndWarehouse();
                        var totalsub = $('.totalsub').text();//initilize class total
                        var info = { ProductSalesInfoId: 0, UserId: TryParseInt(ddlClientName.val(), 0), Depot: ddlDepotName.val(), InvoiceDate: InvoiceDate.val(), ChallanDate: ChallanDate.val(), VehicleType: txtVehicleType.val(), VehicleNumber: txtVehicleNumber.val(), DriverName: txtDriverName.val(), DeliveryPlace: txtDeliveryPlace.val(), Do_ADO_DA: txtDo_ADO_DA.val(), DoADO_Name: txtDoADO_Name.val(), PaymentMode: ddlPaymentMode.val(), TotalAmount: totalsub, PaidAmount: ddlpayment.val() };

                        var details = [];
                        details.length = 0;

                        $.each($("#tblList tbody tr"), function (index, item) {
                            var tds = $(this).children('td');
                            debugger;
                            details.push({
                               ProductSalesDetailsId: 0,
                               MeasurementId: tds.eq(10).html(),
                               Quanity: tds.eq(3).html(),
                               Price: tds.eq(4).html(),
                               Discount: tds.eq(5).html(),
                               FinishGoodProductInfoId: tds.eq(9).html(),
                               MeasurementSize: tds.eq(2).html(),
                               DiscountTk:tds.eq(6).html()



                            });
                        })

                        console.log('Info');
                        console.log(info);
                        console.log('Detail');
                        console.log(details);
                        var data = JSON.stringify({ info: info, details: details });
                        //return;
                        $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveAgroProductSalesInfo', data , getToken())).then(function (res, status)
                        {
                            if (res === true) {
                                $('.toastrDefaultSuccess').trigger('click');
                                @*setTimeout(function () {
                                    redirectPage('@Url.Action("")');
                                }, 1000);*@
                                //resetUI();
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                        })
                    }
                })
            }
        })




        //function ClearData() {
        //    ddlRawMaterialName.val("");
        //    ddlQuantity.val("");
        //    ddlUnit.val("");

        //}




        function redirectPage(page) {
            window.location.replace(page);
        }

    </script>

}
