
@{
    ViewBag.Title = "DateWiseCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    select.without-icon {
        appearance: none;
        background-image: url('');
    }
    .pad {
        padding-top: 3px;
    }
</style>

<div class="row text-sm" style="margin-top:-20px">
    <div class="col-md-12">

        <div class="row" style="margin-top:-5px">
            <div class="col-md-12">
                <div class="card card-navy">
                    <div class="card-header" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center text-bold">
                                    Date Wise Collection
                                </h5>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:-10px">
            <div class="col-md-12">
                <div class="card card-gray-dark">
                    <div class="card-header">
                        <div class="row" style="margin-left:-20px">
                            <div class="col-md-1">
                                <h6 class="" style="font-size:15px;">Search by :</h6>
                            </div>

                            <div class="col-md-2">
                                @Html.DropDownList("ddlZoneName", (IEnumerable<SelectListItem>)ViewBag.ddlZoneName, "Zone", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("ddlDivisionName", (IEnumerable<SelectListItem>)ViewBag.ddlDivisionName, "Division", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("ddlRegionname", (IEnumerable<SelectListItem>)ViewBag.ddlRegionname, "Region", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("ddlareaname", (IEnumerable<SelectListItem>)ViewBag.ddlareaname, "Area", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>


                            <div class="col-md-2 pad">
                                @Html.DropDownList("ddlTerritoryName", (IEnumerable<SelectListItem>)ViewBag.ddlTerritoryName, "Territory", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger pad" })
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("ddlStokiestName", (IEnumerable<SelectListItem>)ViewBag.ddlStokiestName, "Stockiest", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                            </div>

                            <div class="col-md-2 pad">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed pad" id="dptFromDate" placeholder="FromDate" name="dptFromDate" />
                                    <div class="input-group-prepend cursor-pointer remove-list-date dptFromDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pad">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed pad" id="dptToDate" placeholder="ToDate" name="dptToDate" />
                                    <div class="input-group-prepend cursor-pointer remove-list-date dptToDate" style="cursor:pointer">
                                        <span class="input-group-text">&#10008;</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-1 pad">
                                <div class="input-group input-group-sm">
                                    <select class="form-control form-control-sm float-right without-icon pad" id="rptType" name="rptType">
                                        <option style="font-size:15px" value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button type="button" id="btnDownload" title="Download" class="btn btn-block btn-info btn-flat"><i class="fas fa-download"></i></button>
                                    </span>
                                </div>
                            </div>

                            @*<div class="col-md-1 input-group-append">
            <button type="button" id="btnDownload" title="Download" class="btn btn-block btn-info btn-flat"><i class="fas fa-download"></i></button>
        </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

@section scripts{
    <script type="text/javascript">

        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var rptType = $("#rptType");
        var searchByAny = $("#searchByAny");
        var ddlZoneName = $("#ddlZoneName");
        var ddlDivisionName = $("#ddlDivisionName");
        var ddlRegionname = $("#ddlRegionname");
        var ddlareaname = $("#ddlareaname");
        var ddlTerritoryName = $("#ddlTerritoryName");
        var ddlStokiestName = $("#ddlStokiestName");

        $(document).ready(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            }).on('change', function () {
                $('.datepicker').hide();
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            }).on('change', function () {
                $('.datepicker').hide();
                });

            $(".datepicker").datepicker("setDate", new Date());
            //$("#dptToDate").datepicker({ dateFormat: 'dd-mm-yy', changeYear: true, defaultDate: new Date() });
            //$("#dptFromDate").datepicker({ dateFormat: 'dd-mm-yy', changeYear: true, defaultDate: +15 }); 

        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');

                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');

                }
            }
        })

        $("#btnDownload").click(function () {
            if (dptFromDate.val() == "" && dptToDate.val() == "" && ddlStokiestName.val() == "" && searchByAny.val() == "" && ddlTerritoryName.val()=="") {
                bootbox.alert("Please Select Anyone");
            }
            else {
                console.log(ddlZoneName.val());
                window.open("/AgroConfiguration/GetDateWiseCollectionReport?stockiestId=" + TryParseInt(ddlStokiestName.val(), 0) + "&territoryId=" + TryParseInt(ddlTerritoryName.val(), 0) + " &fromDate=" + dptFromDate.val() + " &toDate=" + dptToDate.val() + " &rptType=" + rptType.val() + "&invoiceNo=" + $.trim(searchByAny.val()) + "&zoneId=" + TryParseInt(ddlZoneName.val(), 0) + "&divisonId=" + TryParseInt(ddlDivisionName.val(), 0) + "&regionId=" + TryParseInt(ddlRegionname.val(), 0) + "&areaId=" + TryParseInt(ddlareaname.val(), 0));
            }
        })

    </script>

}
