
@{
    ViewBag.Title = "GetArealist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/AgroConfiguration/GetArealist" class="float-left btn btn-sm btn-outline-primary" title="Go To List">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center text-bold">Create Area</h5>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="card-body text-sm">
                <div class="row " style="margin-top:-8px;">
                    <div class="col-md-2">
                        <label for="ddlorgname" class="control-label">OrganizationName</label>
                        @Html.DropDownList("ddlorgname", (IEnumerable<SelectListItem>)ViewBag.ddlorgname, "Select OrgName", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-OrganizationName font-weight-bold">Input OrganizatinName!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlorgname" class="control-label">ZoneName</label>
                        @Html.DropDownList("ddlZonename", (IEnumerable<SelectListItem>)ViewBag.ddlZonename, "Select Zone Name", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                        <span class="error hide required-ZoneName font-weight-bold">Input ZoneName!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlDivisionname" class="control-label">DivisionName</label>
        @Html.DropDownList("ddlDivisionname", (IEnumerable<SelectListItem>)ViewBag.ddlDivisionname, "Select Division Name", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
        <span class="error hide required-DivisionName font-weight-bold">Input DivisionName!</span>
                        @*<label for="ddlorgname" class="control-label">DivisionName</label>
                        <select class="form-control form-control-sm" id="ddlDivisionname">
                            <option value="Division1">Division1</option>
                            <option value="Division2">Division2</option>
                            <option value="Division3">Division3</option>
                        </select>*@
                    </div>
                    <div class="col-md-2">
                        <label for="ddlRegionname" class="control-label">RegionName</label>
        @Html.DropDownList("ddlRegionname", (IEnumerable<SelectListItem>)ViewBag.ddlRegionname, "Select Region Name", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
        <span class="error hide required-RegionName font-weight-bold">Input RegionName!</span>

                        @*<label for="ddlRegionname" class="control-label">RegionName</label>
                        <select class="form-control form-control-sm" id="ddlRegionname">
                            <option value="Region1">Region1</option>
                            <option value="Region2">Region2</option>
                            <option value="Region3">Region3</option>
                        </select>*@
                    </div>
                    <div class="col-md-2">
                        <label for="ddlAreaName" class="control-label">AreaName</label>
                        <input type="text" id="ddlAreaName" class="form-control form-control-sm" />
                        <span class="error hide required-AreaName font-weight-bold">Input Area Name!</span>
                        <span class="error hide duplicate-AreaName font-weight-bold">Already AreaName Exist!</span>
                    </div>
                    <div class="col-md-3">
                        <label for="ddlAreaAsign" class="control-label">AreaAsignTO</label>
                        <input type="text" id="ddlAreaAsign" class="form-control form-control-sm" />
                        <span class="error hide required-PeopleName font-weight-bold">Input Asign People Name!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlMobilenum" class="control-label">Mobile Number</label>
                        <input type="text" id="ddlMobilenum" class="form-control form-control-sm" />
                        <span class="error hide required-Number font-weight-bold">Input Valid Mobile Number!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlRemarks" class="control-label">Remarks</label>
                        <input type="text" id="ddlRemarks" class="form-control form-control-sm" />
                    </div>
                    <div class="col-md-1 " style="margin-top:5px;">
                        <label for="addButton" class="control-label"></label>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-outline-primary float-left " id="addButton" title="Add To List"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-sm text-sm table-responsive-lg" id="tblSingleItems">
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <button class="btn btn-outline-success btn-sm float-lg-left mt-2" id="saveButton">SAVE <i class="fas fa-paper-plane"></i></button>
                                    </th>
                                </tr>

                                <tr class="text-center btn-dark">
                                    <th style="width:5%">#SL</th>
                                    <th class="hide hdzonetId"></th>
                                    <th style="width:15%">Zone Name</th>
                                    <th class="hide hddivisionId"></th>
                                    <th style="width:15%">Division Name</th>
                                    <th class="hide hdregionId"></th>
                                    <th style="width:15%">Region Name</th>
                                    <th style="width:15%">Area Name</th>
                                    <th style="width:15%">Area Asign To</th>
                                    <th style="width:10%">Mobile</th>
                                    @*<th style="width:10%">Remarks</th>*@
                                    <th style="width:10%">Action</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>



        </div>
    </div>

</div>

@section scripts{

    <script type="text/javascript">


        //value asign
        //var hdzonetId = $("#hdzonetId");
        var ddlorgname = $("#ddlorgname");
        var ddlZonename = $("#ddlZonename");
        var ddlDivisionname = $("#ddlDivisionname");
        var ddlRegionname = $("#ddlRegionname");
        var ddlAreaName = $("#ddlAreaName");
        var ddlAreaAsign = $("#ddlAreaAsign");
        var ddlMobilenum = $("#ddlMobilenum");
        var ddlRemarks = $("#ddlRemarks");
        var hdzonetId = '';
        var hddivisionId = '';
        var hdregionId = '';
        var AreaId = '';
        var AreaNameList = [];

        //select2
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })

        //add
        $("#addButton").click(function (e) {
            //alert();
            //debugger;
            e.preventDefault();

                        var sl = $("#tblSingleItems tbody tr").length;
                        var td1 = "<td class='text-center'><b>" + (sl + 1) + "</b></td>"
                        var td2 = "<td class='hide ddlorgname'>" + ddlorgname.val() + "</td>";
                        var td2 = "<td class='text-center'>" + dropDownSelectedText("ddlZonename") + "</td>";
                        var td3 = "<td class='text-center'>" + dropDownSelectedText("ddlDivisionname") + "</td>";
                        var td4 = "<td class='text-center'>" + dropDownSelectedText("ddlRegionname") + "</td>";
                        var td5 = "<td class='text-center'>" + ddlAreaName.val() + "</td>";
                        var td6 = "<td class='text-center'>" + ddlAreaAsign.val() + "</td>";
                        var td7 = "<td class='text-center'>" + ddlMobilenum.val() + "</td>";
                        var td8 = "<td class='hide hdzonetId'>" + ddlZonename.val() + "</td>";
                        var td9 = "<td class='hide hddivisionId'>" + ddlDivisionname.val() + "</td>";
                        var td10 = "<td class='hide hdregionId'>" + ddlRegionname.val() + "</td>";
            //var td9 = "<td class='text-center'>" + ddlRemarks.val() + "</td>";
                        var td11 = "<td class='text-center'><a href='#' class='btn btn-sm btn-danger data-onfly-del'><i class='far fa-trash-alt'></i> Delete</a></td>";


            var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + + td9 + td10 + td11 +"</tr>";

                        $("#tblSingleItems tbody").append(tr);



        })

        $(document).on("click", "a.data-onfly-del", function (e) {
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            var tds = $(this).parent().parents('tbody tr').children('td');

            var AreaId = tds.eq(5).html();
            console.log("rawMaterialId :" + AreaId);
            const mid = AreaNameList.indexOf(AreaId);
            AreaNameList.splice(mid, 1);




            removeTableRow("#tblSingleItems tbody", index);
            fnFixTheTbodyRowSerial("#tblSingleItems tbody", index);
        })

        //save in database
        $("#saveButton").click(function (e) {
            debugger;
            e.preventDefault();
            //alert();
            
            var details = [];
            details.length = 0;
            $.each($("#tblSingleItems tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({

                    AreaId: 0,
                    ZoneId: tds.eq(7).html(),
                    DivisionId: tds.eq(8).html(),
                    RegionId: tds.eq(9).html(),
                    AreaName: tds.eq(4).html(),
                    AreaAsignName: tds.eq(5).html(),
                    MobileNumber: tds.eq(6).html(),
                    OrganizationId: tds.eq(1).html()

                });
            })
            console.log(details);
            var data = JSON.stringify({ details: details });

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/AgroConfiguration/SaveAreaInfo', data, getToken())).then(function (res, status) {
                if (res === true) {
                    debugger;
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                      //  redirectPage('@Url.Action("Zonelist")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
                enable("#saveButton");
            }).fail(function (error) {
                alert(execuStatus.fail);
                enable("#saveButton");
            })

            function redirectPage(page) {
                window.location.replace(page);
            }

        });

    </script>
}

