@{
    ViewBag.Title = "GetProductFinishGoodList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row"  style="margin-top:-5px">
    <div class="col-md-12">
        <div class="card  shadow card card-outline card-tabs" style="margin-top:-20px">
        

                <ul class="nav nav-tabs nav-pills bg-navy" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-white" id="custom-tabs-two-producFinishGoodList-tab" data-toggle="pill" href="#custom-tabs-two-producFinishGoodList" role="tab" aria-controls="custom-tabs-two-producFinishGoodList" aria-selected="false">Finish Good Stock list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" id="custom-tabs-two-finishGoodProductList-tab" data-toggle="pill" href="#custom-tabs-two-finishGoodProductList" role="tab" aria-controls="custom-tabs-two-finishGoodProductList" aria-selected="false">Finish Good Production list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" id="custom-tabs-two-finishGoodProduction-tab" data-toggle="pill" href="#custom-tabs-two-finishGoodProduction" role="tab" aria-controls="custom-tabs-two-finishGoodProduction" aria-selected="false">Finish Good Production</a>
                    </li>
                </ul>

  

        </div>

        <div class="card-body shadow">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-two-producFinishGoodList" role="tabpanel" aria-labelledby="custom-tabs-two-producFinishGoodList-tab">
                    <div class="row" style="margin-top:-15px">
                        <div class="col-md-12">
                            <div class="card shadow card-gray-dark">

                            </div>
                        </div>
                    </div>
                    <div class="row" style=" margin-top: -35px">
                        <div class="col-md-12">
                            <div class="card" style="background-color:#001f3f">
                                <div class="px-2 py-1">
                                    <div class="row">

                                        <div class="col-md-2">
                                            <input type="text" class="form-control form-control-sm" id="ddlReceipBatchCode1" placeholder="Search ReceipCode" />
                                        </div>

                                        <div class="col-md-2">
                                            @Html.DropDownList("ddlProduct1", (IEnumerable<SelectListItem>)ViewBag.ddlProduct, "-Select Product-", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:-3px">

                        <div class="col-md-12" style="margin-top:-10px">
                            <div class="card">
                                <div class="card-body" style="margin-top:-10px">
                                    <div class="row">
                                        <div class="col-md-12 text-sm text-sm" id="dataContainer" style="overflow-y:scroll">
                                            @{Html.RenderAction("GetProductFinishGoodList", new { @flag = "Initial" });}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="custom-tabs-two-finishGoodProductList" role="tabpanel" aria-labelledby="custom-tabs-two-finishGoodProductList-tab">
                    <div class="row" style="margin-top:-15px">
                        <div class="col-md-12">
                            <div class="card shadow card-gray-dark">

                            </div>
                        </div>
                    </div>
                    <div class="row" style=" margin-top: -35px">
                        <div class="col-md-12">
                            <div class="card" style="background-color:#001f3f">
                                <div class="px-2 py-1">
                                    <div class="row">

                                        <div class="col-md-2">
                                            <input type="text" class="form-control form-control-sm" id="SearchBatchCode" placeholder="Search BatchCode" />
                                        </div>

                                        <div class="col-md-2">
                                            @Html.DropDownList("dProductName", (IEnumerable<SelectListItem>)ViewBag.ddlProduct, "-Select Product-", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:-3px">

                        <div class="col-md-12" style="margin-top:-10px">
                            <div class="card">
                                <div class="card-body" style="margin-top:-10px">
                                    <div class="row">
                                        <div class="col-md-12 text-sm text-sm" id="dataContainer1" style="overflow-y:scroll">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " id="custom-tabs-two-finishGoodProduction" role="tabpanel" aria-labelledby="custom-tabs-two-finishGoodProduction-tab">
                    <div class="row" style=" margin-top: -35px">
                        <div class="col-md-12">
                            <div class="card card-navy">
                                <div class="card-header" style="text-align: center;">

                                    <div class="row">

                                        <div class="col-md-12">
                                            <button class="btn btn-success btn-sm btn float-right" id="btnSubmit">SAVE <i class="fas fa-paper-plane"></i></button>
                                            <h5 class="text-center text-bold">

                                                Finish Good Production
                                            </h5>
                                        </div>


                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" id="hdMeasurementId" />
                                        <input type="hidden" id="hdTargetValue" />
                                        <input type="hidden" id="hdQuantity" />
                                        @*<div class="col-md-3">
                                    <label class="control-label font-weight-bold" for="ddlOrganiation">Organization Name</label>
                                    <select class=" form-control form-control-sm" id="ddlOrganiation" name="ddlOrganiation">
                                        <option value="">Select One</option>
                                        <option value="9">Agro Farm</option>
                                    </select>
                                    <span class="error hide req-ddlOrganiation">Organization is required</span>
                                </div>*@
                                        <div class="col-md-3">
                                            <label class="control-label" for="ddlProduct">Product<span style="color:red">*</span></label>
                                            @Html.DropDownList("ddlProduct", (IEnumerable<SelectListItem>)ViewBag.ddlProduct, "-Select Product-", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger", autofocus = "autofocus" })

                                            <span class="error hide req-ddlProduct">Product Name is Required</span>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label" for="ddlMeasurementName">Measurment<span style="color:red">*</span></label>
                                            @Html.DropDownList("ddlMeasurementName", (IEnumerable<SelectListItem>)ViewBag.ddlMeasurementName, "Select Measurement", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                            <span class="error hide req-ddlMeasurementName">MeasurementName Is Required</span>
                                        </div>
                                        <div class="col-md-2 hide">
                                            <input type="text" value="none" id="ddlReceipBatchCode" name="ddlReceipBatchCode" class="form-control form-control-sm" readonly />
                                            @*<label class="control-label" for="ddlReceipBatchCode">Recipe Code<span style="color:red">*</span></label>
                                    @Html.DropDownList("ddlReceipBatchCode", (IEnumerable<SelectListItem>)ViewBag.ddlReceipBatchCode, new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger" })
                                    <span class="error hide req-ddlReceipBatchCode">Batch Code Is Required</span>*@
                                        </div>
                                        <div class="col-md-2 hide">
                                            <label for="qty"> Qty</label>
                                            <input type="text" id="qty" name="qty" class="form-control form-control-sm" readonly />
                                            <span class="error hide req-qty">Qty Is Required</span>

                                        </div>
                                        <div class="col-md-2 hide">
                                            <label for="targetQty" class="control-label"> Target Qty</label>
                                            <input type="number" id="targetQty" class="form-control form-control-sm" readonly />
                                            <span class="error hide req-targetQty">Target Qty Is Required</span>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="FinishQty" class="control-label">Finish Qty<span style="color:red">*</span></label>
                                            <input type="number" id="FinishQty" class="form-control form-control-sm" />
                                            <span class="error hide req-FinishQty">Oty Over</span>
                                        </div>

                                        <div class="col-md-1 hide">
                                            <label>TotalProductQty</label>
                                            <input type="number" id="txtTotalProductQty" name="TotalProductQty" class="form-control form-control-sm" readonly />
                                        </div>
                                        <div class="col-md-1 hide">
                                            <label>TotalQty</label>
                                            <input type="number" id="txtTotalQty" name="TotalQty" class="form-control form-control-sm" readonly />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="" class="control-label font-weight-bold" style="visibility:hidden"> Add To List</label>
                                            <div class="clearfix">
                                                <button type="submit" class="btn btn-sm btn-outline-success" id="addTolist"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:-13px">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="row" style="margin-top:-10px">
                                            <div class="col-md-12" style="overflow-y:scroll">
                                                <table class="table table-bordered table-sm text-sm table-striped table-responsive-lg" id="tblFinishGoodProduction">
                                                    <thead>
                                                        @*<tr>
                                                    <th colspan="6">
                                                        <button class="btn btn-outline-success btn-sm float-lg-right" id="btnSubmit">SAVE <i class="fas fa-paper-plane"></i> </button>
                                                    </th>
                                                </tr>*@
                                                        <tr class="btn-dark text-center">

                                                            <th>Raw Material</th>
                                                            <th>Per Qty</th>
                                                            <th>Total Production Qty</th>
                                                            <th>Required Qty</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ModalProductionFinishGoodDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body" id="dataContainer2">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="FinishGoodListDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-gray-dark">
                <h4 id="modalHeading" class="modal-title">Finish Good List Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer3">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlOrganiation = $("#ddlOrganiation");
        var ddlProduct = $("#ddlProduct");
        var qty = $("#qty");
        var targetQty = $("#targetQty");
        var FinishQty = $("#FinishQty");
        var ddlReceipBatchCode = $("#ddlReceipBatchCode");
        var hdTargetValue = $("#hdTargetValue");
        var searchBatchCode = $("#searchBatchCode");
        var ddlProduct1 = $("#ddlProduct1");
        var ddlReceipBatchCode1 = $("#ddlReceipBatchCode1");
        var hdQuantity = $("#hdQuantity");
        var ddlMeasurementName = $("#ddlMeasurementName");

        var txtTotalProductQty = $("#txtTotalProductQty");
        var txtTotalQty = $("#txtTotalQty");
        var FinishGoodListDetails = $("#FinishGoodListDetails");
       




        $(document).ready(function () {
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $("#btnSubmit").hide();
            $("#addTolist").hide();

            //$("#btnSubmit").hide();
            $(function () {
                $('#ddlProduct').focus();
            });
            LoadFinishGoodProductList()
            
        })

        function LoadFinishGoodProductList() {
            debugger;

            var data = { flag: "View" };

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetProductFinishGoodList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });
            //pageNo = 1;
        }


        $(document).on('click', 'a.data-detail-item-Product', function (e) {
            e.preventDefault();
            debugger;
            var id = $(this).parent().parents('tr').children('td').eq(2).html();
            var data = { flag: "Detail", finishGoodProductionBatch: id };
            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetProductFinishGoodList', data)).then(function (res, status) {
                debugger;
                console.log(status);
                if (status === "success") {
                    debugger;
                    $("#dataContainer3").empty();
                    $("#dataContainer3").append(res);
                    $("#FinishGoodListDetails").modal('show');

                }
            }).fail(function (error) {
                console.log(error);
            })

        })



        ddlMeasurementName.change(function () {

            LoadbatchCodeData();


        });
        //calculate
        FinishQty.keyup(function () {
            if (FinishQty.val() >= 0) {
                debugger;

                TatalProductQty();




            }


        });
        function TatalProductQty() {

            var sub = FinishQty.val() * txtTotalProductQty.val();
            txtTotalQty.val(sub);


        }
        //calculate


        ddlReceipBatchCode1.keyup(function () {
            LoadFinishGoodList()
        })

        ddlProduct1.change(function () {
            LoadFinishGoodList()
        })

        function LoadFinishGoodList() {
            debugger;

            var data = { flag: "View", productId: TryParseInt(ddlProduct1.val(), 0), ReceipeBatchCode: ddlReceipBatchCode1.val()};

            $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetProductFinishGoodList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }

        function LoadbatchCodeData() {
            debugger;
            var data = { FinishGoodProductId: TryParseInt(ddlProduct.val(),0), MeasurementId: TryParseInt(ddlMeasurementName.val(),0) };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetrecipieBYmeasurmentId", data)).then(function (res, status) {
                debugger;
                consoleLog(res.replace(/['"]+/g, ''));
                var recipes = res.replace(/['"]+/g, '');
                ddlReceipBatchCode.val(recipes);



                debugger
                var data = { receipeBatchCode: recipes, MeasurementId: TryParseInt(ddlMeasurementName.val(), 0) };

                $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyByProductionId", data)).then(function (res, status) {
                    debugger;
                    consoleLog(res.replace(/['"]+/g, ''));
                    //console.log(res);
                    console.log(res.quantity)
                    var UnitQty = res.replace(/['"]+/g, '');
                    qty.val(UnitQty);

                    var qa = UnitQty.split('(')
                    var qar = qa[0]
                    var fq = qar.replace(/['"]+/g, '');
                    hdQuantity.val(fq);

                });

                //var data = { receipeBatchCode: ddlReceipBatchCode.val() };

                $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyTergetQty", data)).then(function (res, status) {
                    debugger;
                    targetQty.val(res);


                });


                var data = { MeasurementId: TryParseInt(ddlMeasurementName.val(), 0) };
                $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetMeasurementTotalProductQty", data)).then(function (res, status) {
                    debugger;
                    console.log(res);

                    consoleLog(res.replace(/['"]+/g, ''));
                    var TotalQtyProduct = res.replace(/['"]+/g, '');
                    txtTotalProductQty.val(TotalQtyProduct);
                    console.log(txtTotalProductQty.val());

                });

            });
        }




        $(document).on('click', 'a.data-item-detail', function (e) {
            e.preventDefault();
            $("#dataContainer2").empty();
            debugger;
          
            var finishGoodProductionBatch = $(this).parent().parents('tr').children('td').eq(1).html();


            var data = { flag: "Detail", finishGoodProductionBatch: finishGoodProductionBatch };
                $.when(getReqWithData('html', 'GET', '/AgroConfiguration/GetProductFinishGoodList', data)).then(function (res, status) {
                    console.log(status);
                    if (status === "success") {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res);
                        $("#ModalProductionFinishGoodDetails").modal('show');
                    }
                }).fail(function (error) {
                    console.log(error);
                })

        })







        function LoadTergetQuantityData() {
            var data = { receipeBatchCode: ddlReceipBatchCode.val() };

            $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyTergetQty", data)).then(function (res, status) {
                debugger;
                targetQty.val(res);
      

            });
        }

        $("#addTolist").click(function (e) {
            e.preventDefault();
            if (validationAddToList()) {
                debugger;
                var data = { receipeBatchCode: ddlReceipBatchCode.val(), targetQty: FinishQty.val(), MeasurementId: TryParseInt(ddlMeasurementName.val(), 0) };

                $.when(getReqWithData('Html', "Get", "/AgroConfiguration/GetReceipyDetailsByreceipeBatchCode", data)).then(function (res, status) {
                    debugger;
                    console.log(res);
                    var sl = 0;
                    material = JSON.parse(res)
                    console.log(material);
                    var len = material.length;
                    console.log("length: " + len);
                    //console.log("Target Value: " + targetQty.val() + " Hidden Target Value: " + hdTargetValue.val());
                    // console.log(targetQty.val() <= hdTargetValue.val());
                    if (Number(FinishQty.val()) <= Number(targetQty.val())) {

                        debugger;

                        //console.log(material[0].RawMaterialName);
                        $.each(material, function (index, value) {

                            var td1 = "<td class='text-center'>" + value.RawMaterialName + "</td>";
                            var td5 = "<td class='hide text-center'>" + value.RawMaterialId + "</td>";
                            var td2 = "<td class='text-center'>" + value.FGRRawMaterQty + "</td>";
                            var td3 = "<td class='text-center'>" + FinishQty.val() + "</td>";
                            var td4 = "<td class='text-center'>" + (value.FGRRawMaterQty * txtTotalQty.val()) + "</td>";
                            var tr = "<tr>" + td1 + td2 + td3 + td4 + td5 + "</tr>";
                            $("#tblFinishGoodProduction tbody").append(tr)
                            $("#btnSubmit").show();
                            /*$("#addTolist").hide();*/


                        })
                        $("#addTolist").hide();
                    }
                    else {
                        alert("Issue Quantity Not Sufficient Please Check Target Quantity");
                    }

                });

            }
        })

        function validationAddToList() {
            debugger;
            var isValid = true;
            $(".error").addClass('hide');

            if (TryParseInt(targetQty.val(), 0) <= 0) {
                $(".req-targetQty").removeClass('hide');
                isValid = false;
            }


            return isValid;
        }

        $("#btnSubmit").click(function (e) {
            debugger;   
            e.preventDefault();
            var data = {};
            var finishGoodProduction = { finishGoodProductId: ddlProduct.val(), quanity: TryParseInt(hdQuantity.val(), 0), targetQuantity: FinishQty.val(), receipeBatchCode: ddlReceipBatchCode.val(), MeasurementId: TryParseInt(ddlMeasurementName.val(), 0), MFGQuanity: txtTotalQty.val() }

            var details = [];
            details.length = 0;

            $.each($("#tblFinishGoodProduction tbody tr"), function (index, item) {
                var tds = $(this).children('td');
                details.push({
                    RawMaterialId: tds.eq(4).html(),
                    ReceipeBatchCode: tds.eq(6).html(),
                    FGRRawMaterQty: tds.eq(1).html(),
                    TotalQuantity: tds.eq(2).html(),
                    RequiredQuantity: tds.eq(3).html()

                });
            })

            var data = JSON.stringify({ info: finishGoodProduction, details: details })
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, "/AgroConfiguration/SaveFinishGoodProduction", data, getToken())).then(function (res, status) {
                
                            debugger;
                            if (res.isSucccess === true) {
                                $('.toastrDefaultSuccess').trigger('click');
                                var ReceipeBatchCode = res.File;
                                window.open('/AgroConfiguration/GetFinishGoodProductionReportSave?ReceipeBatchCode='+ReceipeBatchCode,'_blank');
                                setTimeout(function () {
                                    redirectPage('@Url.Action("GetProductFinishGoodList")');
                                }, 500);
                              
                            }
                            else {
                                $('.toastrDefaultError').trigger('click');
                            }
                           

                            enable("#btnSubmit");
                        }).fail(function (error) {
                            alert(execuStatus.fail);
                            enable("#btnSubmit");
                        })


                @*if (status == "success") {
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                        redirectPage('@Url.Action("GetProductFinishGoodList")');
                    }, 1000);


                }*@
               


            //}).fail(function (error) {

            //    alert(execuStatus.fail);
            //})

        });


        FinishQty.keyup(function () {
            if (Number(FinishQty.val()) > Number( targetQty.val() )){

                $("#addTolist").hide();

            }
            else {
                $("#addTolist").show();
            }


        })

        function redirectPage(page) {
            window.location.replace(page);
        }


    </script>


}