@model IEnumerable<ERPBO.ControlPanel.ViewModels.SubMenuViewModel>
@{ 
    int sl = 0;
    string badge = string.Empty;
    string badge1 = string.Empty;
}

<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-striped table-responsive-lg table-valign-middle tblSubMenuData" id="tblSubMenuData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th class="hide"></th>
                    <th>SubMenu Name</th>
                    <th class="hide">MMId</th>
                    <th>Main Menu</th>
                    <th>Controller Name</th>
                    <th style="width:10%">Action Name</th>
                    <th>IconClass</th>
                    <th>Is Viewable</th>
                    <th>Is ActAsParent</th>
                    <th class="hide"></th>
                    <th>Parent Submenu</th>
                    <th>Entry User</th>
                    <th>Update User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in Model)
                {
                    sl = sl + 1;
                    badge = (sub.IsViewableStatus == "Yes" ? "badge bg-success" : "badge bg-danger");
                    badge1 = (sub.IsActAsParentStatus == "Yes" ? "badge bg-success" : "badge bg-danger");
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td class="hide">@sub.SubMenuId</td>
                        <td>@sub.SubMenuName</td>
                        <td class="hide">@sub.MMId</td>
                        <td>@sub.MenuName</td>
                        <td>@sub.ControllerName</td>
                        <td style="width:10%;word-break:break-word">@sub.ActionName</td>
                        <td>@sub.IconClass</td>
                        <td class="text-center" data-val="@sub.IsViewableStatus">
                            <span class="@badge">@sub.IsViewableStatus</span>
                        </td>
                        <td class="text-center" data-val="@sub.IsActAsParentStatus">
                            <span class="@badge1">@sub.IsActAsParentStatus</span>
                        </td>
                        <td class="hide">@sub.ParentSubMenuId</td>
                        <td>@sub.ParentSubmenuName</td>

                        <td class="text-center text-sm">@sub.EntryUser</td>
                        <td class="text-center text-sm">@sub.UpdateUser</td>

                        <td class="text-center">
                            <a href="#" class="btn btn-warning btn-sm data-submenu-item" data-submenu-item="@sub.SubMenuId"><i class="fa fa-pen"></i> Edit</a>
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="13">
                            No data found in the table
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

