@model IEnumerable<ERPBO.ControlPanel.ViewModels.ModuleViewModel>
@{
    ViewBag.Title = "GetModuleList";
    int sl = 0;
    var privilege = (ERPBO.Common.UserPrivilege)ViewBag.UserPrivilege;
}
<div class="row">
    <div class="col-md-12 text-center">
        <h4><b style="color:darkblue">List Of Module</b></h4>
        <hr />
    </div>
    <div class="col-md-12 mb-2">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblModuleData tbody tr',this)" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @if (privilege != null && privilege.Add)
                {
                    <button class="btn btn-primary btn-sm float-lg-right" style="background-color:darkblue" id="btnAddNew"><i class="fa fa-plus"></i> Create Module</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
       <table class="table table-bordered table-sm table-striped table-responsive-lg" id="tblModuleData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>#SL</th>
                    <th class="hide"></th>
                    <th>Module Name</th>
                    <th>Icon Name</th>
                    <th>Icon Color</th>
                    <th>Entry User</th>
                    <th>Update User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var module in Model)
                {
                    sl = sl + 1;
                <tr>
                    <td class="text-center"><b>@sl</b></td>
                    <td class="hide">@module.MId</td>
                    <td>@module.ModuleName</td>
                    <td>@module.IconName</td>
                    <td>@module.IconColor</td>
                    <td class="text-center text-sm">@module.EntryUser</td>
                    <td class="text-center text-sm">@module.UpdateUser</td>
                    <td class="text-center">
                        @if (privilege != null && privilege.Edit)
                        {
                            <a href="#" class="btn btn-warning btn-sm data-edit-item" data-edit-item="@module.MId"><i class="fa fa-pen"></i> Edit</a>
                        }
                    </td>
                </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="8">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalModule" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <h4 id="modalHeading" class="modal-title"><span id="spanModalHead">Add New Module</span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmRole">
                    <input type="hidden" name="Id" id="hdfMId" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtModuleName" class="control-label font-weight-bold">Module Name</label>
                            <input type="text" name="module" value="" id="txtModuleName" class="form-control form-control-sm" />
                            <span class="error hide required-moduleName font-weight-bold">Input Module Name!</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtIconName" class="control-label font-weight-bold">Icon Name</label>
                            <input type="text" name="icon" value="" id="txtIconName" class="form-control form-control-sm" />
                            <span class="error hide required-iconName font-weight-bold">Input Icon Name!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtIconColour" class="control-label font-weight-bold">Icon Colour</label>
                            <input type="text" name="iconColour" value="" id="txtIconColour" class="form-control form-control-sm" />
                            <span class="error hide required-iconColour font-weight-bold">Input Icon Colour!</span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-success float-right" id="btnSubmit"><i class="far fa-save"></i> <span id="spanSaveText">Save</span> </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var hdfMId = $("#hdfMId");
        var txtModuleName = $("#txtModuleName");
        var txtIconName = $("#txtIconName");
        var txtIconColour = $("#txtIconColour");

        $(document).ready(function () {
            $('#tblModuleData').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
            });
        })

        function OpenModal() {
            $("#spanModalHead").text('Add New Module');
            $("#spanSaveText").text('Save');
            $("#modalModule").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnAddNew").click(function (e) {
            e.preventDefault();
            OpenModal();
            clearCtrl();
        })

        function validateForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if ($.trim(txtModuleName.val()) == "") {
                $(".required-moduleName").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtIconName.val()) == "") {
                $(".required-iconName").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtIconColour.val()) == "") {
                $(".required-iconColour").removeClass("hide");
                isValid = false;
            }
            return isValid;
        }


       //Data add
        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $(".error").addClass("hide");
            if (validateForm() == true) {
                var data = JSON.stringify({
                    MId: TryParseInt(hdfMId.val(), 0),
                    ModuleName: txtModuleName.val(),
                    IconName: txtIconName.val(),
                    IconColor: txtIconColour.val(),
                });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/ControlPanel/SaveModule', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        message("#msg1", "#modalModule");
                    }
                    else {
                        message("#msg2");
                    }
                    enable("#btnSubmit");
                }).fail(function (err) {
                    console.log(err);
                    enable("#btnSubmit");
                });
            }

        })

        $(document).on("click", "a.data-edit-item", function (e) {
            e.preventDefault()
            clearCtrl();
            var row = $(this).parent().parents('tr');
            var td1 = row.find('td:eq(1)').html();
            var td2 = row.find('td:eq(2)').html();
            var td3 = row.find('td:eq(3)').html();
            var td4 = row.find('td:eq(4)').html();

            hdfMId.val(td1);
            txtModuleName.val(td2);
            txtIconName.val(td3);
            txtIconColour.val(td4);

        })

        function clearCtrl() {
            hdfMId.val('0');
            txtModuleName.val('');
            txtIconName.val('');
            txtIconColour.val('');

        }
        $(".data-edit-item").click(function (e) {
            e.preventDefault()
            OpenModal()
            $("#spanModalHead").text('Update Module');
            $("#spanSaveText").text('Update');
        });

    </script>
}
