@model IEnumerable<ERPBO.ControlPanel.ViewModels.UserMainMenuViewModel>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGROERP</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link href="~/wwwroot/assets/dist/css/adminlte.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/wwwroot/assets/plugins/summernote/summernote-bs4.min.css">




    @*styleold*@
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">




</head>
<body class="hold-transition sidebar-mini layout-fixed dark-mode">
    <noscript>
        <style>
            .wrapper {
                display: none;
            }

            body {
                background-color: #808080;
            }
        </style>
        <div id="dvnoscript">
            <div class='alert alert-danger alert-dismissible'>
                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><h5><i class='icon fas fa-ban'></i> Warning!</h5>Your browser does not support JavaScript!
                Please Enable it first to use the application properly.
            </div>
        </div>
    </noscript>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item bg-white rounded">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto ">

                <li class="nav-item bg-success">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item bg-dark">
                    <a class="nav-link bg-white">
                        <span class="badge badge-warning">
                            <b><span></span> @User.FullName</b>
                        </span>
                        <span class="badge badge-primary">
                            <b>@User.BranchName Branch</b>
                        </span>  &nbsp;
                        @*<span class="my-btn">
                    <span class="my-btn-border"></span>
                    <i class="fas fa-bell btn-bell"></i>
                    <span class="icon-button__badge">2</span>
                </span>*@
                        |
                    </a>
                </li>

                <li class="nav-item dropdown bg-primary rounded-end">
                    <a class="nav-link " data-toggle="dropdown" href="#">
                        <i class="fas fa-user-circle fa-stack-1x"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary card-outline" style="margin-bottom:0px">
                                    <div class="card-body box-profile">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                 src="~/Content/dist/img/userIcon.png"
                                                 alt="User profile picture">
                                        </div>
                                        <h3 class="profile-username text-center">@User.FullName</h3>
                                        <p class="text-muted text-center">@User.Designation</p>
                                        <ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                <a href="#" id="changePassword">
                                                    <i class="fas fa-tools mr-2"></i> Change Username/Password
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Status</b> <a class="float-right">Active</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Role</b> <a class="float-right">@User.RoleName</a>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-primary btn-block" id="logOut"><b>Log Out</b> <i class="fas fa-sign-out-alt"></i></a>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </nav>
        <div class="wrapper">
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-navy elevation-4">
                <!-- Brand Logo -->
                <a href="#" class="brand-link navbar-dark">
                    <img src="~/Content/dist/img/fivestar.png" alt="PO24" class="brand-image img-circle elevation-3"
                         style="opacity: .8" />
                    <span class="brand-text font-weight-light">PO24 ERP</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">-->
                    @*<img src="~/wwwroot/assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
                    <!--<img class="profile-user-img img-fluid img-circle"
                                 src="~/Content/dist/img/userIcon.png"
                                 alt="User profile picture">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">@User.UserName</a>
                        </div>
                    </div>-->
                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        { Html.RenderAction("GetUserMenus", "Common"); }
                    }
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>





            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750" id="reloadm">
                <div class="nav navbar navbar-expand navbar-dark navbar-light border-bottom p-0">
                    <div class="nav-item dropdown">
                        <a class="nav-link bg-danger dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Close</a>
                        <div class="dropdown-menu mt-0">
                            <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all">Close All</a>
                            <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all-other">Close All Other</a>
                        </div>
                    </div>
                    <a class="nav-link bg-light" href="#" data-widget="iframe-scrollleft"><i class="fas fa-angle-double-left"></i></a>
                    @*<a class="nav-link bg-light" href="#" onclick="history.back();"><i class="fas fa-angle-left"></i></a>*@
                    <ul class="navbar-nav overflow-hidden" role="tablist"></ul>

                    @*<a class="nav-link bg-light" href="#" onclick="myfunction2()"><i class="fas fa-redo-alt"></i></a>*@
                    <a class="nav-link bg-light" href="#" data-widget="iframe-scrollright"><i class="fas fa-angle-double-right"></i></a>
                    <a class="nav-link bg-light" href="#" data-widget="iframe-fullscreen"><i class="fas fa-expand"></i></a>

                </div>
                <div class="tab-content">
                    <div class="tab-empty">
                        @RenderBody()
                    </div>
                    <div class="tab-loading">
                        <div>
                            <h2 class="display-4">loading <i class="fa fa-sync fa-spin"></i></h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-wrapper -->

        </div>





        <footer class="main-footer fixed-bottom text-sm">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline ">
                Developed &amp; Maintained By <a href="http://playon24.com.bd/" target="_blank">PlayOn24</a>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 -</strong> All rights reserved.
        </footer>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="@Url.Action("LogOut", "Access")">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header btn-primary">
                            <h5 class="modal-title" id="exampleModalLabel">Change Your Password</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="frmChangePassword" autocomplete="off">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="txtCurrentPassword" class="control-label font-weight-bold">Current Password</label>
                                        <input type="password" autocomplete="off" id="txtCurrentPassword" class="form-control form-control-sm" />
                                        <span class="error hide required-current-password font-weight-bold">Input Current Password!</span>
                                        <span class="error hide incorrect-password font-weight-bold">Incorrect Password!</span>

                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="txtPassword" class="control-label font-weight-bold">Password</label>
                                        <input type="password" autocomplete="off" id="txtPassword" class="form-control form-control-sm" />
                                        <span class="error hide required-password font-weight-bold">Input New Password!</span>
                                        <span class="error hide password-lenght font-weight-bold">Password Min length 6!</span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="txtConfirmPassword" class="control-label font-weight-bold">Confirm Password</label>
                                        <input type="password" autocomplete="off" id="txtConfirmPassword" class="form-control form-control-sm" />
                                        <span class="error hide required-confirmPassword font-weight-bold">Input Confirm password!</span>
                                        <span class="error hide compare-password font-weight-bold">New Password & Confirm Password does not match!</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                            <button type="button" id="btnChangePassword" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>





    <!-- jQuery -->
    <script src="~/wwwroot/assets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/wwwroot/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/wwwroot/assets/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/wwwroot/assets/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/wwwroot/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/wwwroot/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/wwwroot/assets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/wwwroot/assets/plugins/moment/moment.min.js"></script>
    <script src="~/wwwroot/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/wwwroot/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/wwwroot/assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/wwwroot/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/wwwroot/assets/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/assets/dist/js/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/assets/dist/js/pages/dashboard.js"></script>*@





    <script>
        function logoutbutton() {
            window.location.href = window.location.protocol + "//" + document.location.host + "/Accounting/Home/Login";
        }

        function myfunction2() {
            //document.getElementById('reloadm').src = document.getElementById('reloadm').src;

            //window.frames['reloadm'].location.href.reload()
            //document.getElementById('reloadm').contentWindow.location.reload();

            document.getElementById('reloadm').src.window.location.reload(reload);
        }
    </script>




    <script type="text/javascript">
        $(document).ready(function () {


            $('#double-scroll').doubleScroll();
        });


        var txtCurrentPassword = $("#txtCurrentPassword");
        var txtPassword = $("#txtPassword");
        var txtConfirmPassword = $("#txtConfirmPassword");

        $(document).ready(function () {
            bsCustomFileInput.init();

            $('.toastrAdded').click(function () {
                toastr.success('Added')
            });
            $('.toastrDefaultSuccess').click(function () {
                toastr.success(execuStatus.successSave)
            });
            $('.toastrDefaultUpdateOnFlayData').click(function () {
                toastr.success('Updated')
            });
            $('.toastrDefaultDelete').click(function () {
                toastr.success(execuStatus.successDelete)
            });
            $('.toastrDefaultError').click(function () {
                toastr.error(execuStatus.fail)
            });
            $('.toastrReqSuccess').click(function () {
                toastr.success(execuStatus.reqStatusSave)
            });
            $('.toastrReqError').click(function () {
                toastr.error(execuStatus.reqStatusFail)
            });

            $('.toastrJobOrderSuccess').click(function () {
                toastr.success('JobOrder status has been changed successfully');
            });

            $('.toastrJobOrderError').click(function () {
                toastr.error('JobOrder status cannot be changed');
            });

            $('.toastrDefaultInfo').click(function () {
                toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastrDefaultError').click(function () {
                toastr.error(execuStatus.fail)
            });

            $('.toastrDefaultWarning').click(function () {
                toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastsDefaultDefault').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultTopLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'topLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomRight').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomRight',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultAutohide').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    autohide: true,
                    delay: 750,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultNotFixed').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    fixed: false,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultFull').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    icon: 'fas fa-envelope fa-lg',
                })
            });
            $('.toastsDefaultFullImage').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    image: '../../dist/img/user3-128x128.jpg',
                    imageAlt: 'User Picture',
                })
            });
            $('.toastsDefaultSuccess').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultInfo').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-info',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultWarning').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-warning',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultDanger').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultMaroon').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-maroon',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
        })
        //logOut
        $("#logOut").click(function (e) {
            e.preventDefault();
            $("#logoutModal").modal("show");
        })

        // Change Password
        $("#changePassword").click(function (e) {
            e.preventDefault();
            txtCurrentPassword.val('');
            txtPassword.val('');
            txtConfirmPassword.val('');
            $(".error").addClass("hide");
            $("#changePasswordModal").modal("show");
        })

        function validateChangePassword() {
            var isValid = true;
            $(".error").addClass("hide");
            if (txtCurrentPassword.val() === "") {
                $(".required-current-password").removeClass("hide");
                isValid = false;
            }
            else {
                // Checking in database//
                if (ajaxBooleanChecker2(JSON.stringify({ password: txtCurrentPassword.val() }), '/Common/IsCurrentUserPasswordCorrect') === false) {
                    $(".incorrect-password").removeClass('hide');
                    isValid = false;
                }
            }
            if (txtPassword.val() === "") {
                $(".required-password").removeClass("hide");
                isValid = false;
            }
            else {
                if (txtPassword.val().length < 6) {
                    $(".password-lenght").removeClass("hide");
                    isValid = false;
                }
            }
            if (txtConfirmPassword.val() === "") {
                $(".required-confirmPassword").removeClass("hide");
                isValid = false;
            }

            if (txtPassword.val() !== txtConfirmPassword.val()) {
                $(".compare-password").removeClass("hide");
                isValid = false;
            }
            return isValid;
        }

        $("#btnChangePassword").click(function (e) {
            e.preventDefault();
            if (validateChangePassword()) {
                var data = JSON.stringify({ "CurrentPassword": txtCurrentPassword.val(), "NewPassword": txtPassword.val() });
                console.log(data);
                $.when(postReqWithData(dataType.applicationJson, dataType.json, 'POST', '/Access/ChangePassword', data)).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        $('.toastrDefaultSuccess').trigger('click');
                        $("#changePasswordModal").modal("toggle");
                    }
                    else {
                        $('.toastrDefaultError').trigger('click');
                    }
                }).fail(function (err) {
                    $('.toastrDefaultError').trigger('click');
                    console.log(err);
                });
            }
        })

        $(function () {

            // check this out on a mobile device.
            if (/Mobi/.test(navigator.userAgent)) {
                setInterval(function () {
                    navigator.vibrate();
                }, 3000);
            }


        });


                                        //$(document).on('click', 'li', function () {
                                        //    alert();
                                        //    debugger;
                                        //    $(this).addClass('active')
                                        //})
    </script>

    @*@RenderSection("Scripts", required: false)*@


    @RenderSection("scripts", false)



</body>
</html>
